Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

not nullable column
  fractal_server/app/models/v2/history.py
  fractal_server/migrations/versions/0c5e3f92c3a8_historyunit_zarr_urls_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

changelog [skip ci]
  CHANGELOG.md
Due: none

sqlalchemy 2.1.0rc2
  pyproject.toml
  uv.lock
Due: none

bump `ty` version
  .github/workflows/precommit.yml
Due: none

Update bench.html & bench.json
  .github/workflows/precommit.yml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Add `MappedAsDataclass` to ORM `Base`
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

re-order attribute definition to avoid `dataclass-field-order` error in `ty`
  fractal_server/app/models/security.py
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/models/v2/history.py
  fractal_server/app/models/v2/job.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/resource.py
  fractal_server/app/models/v2/task.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/models/v2/workflow_template.py
  fractal_server/app/models/v2/workflowtask.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

`HistoryUnit.zarr_urls` not nullable (#3446)
  CHANGELOG.md
  fractal_server/app/models/v2/history.py
  fractal_server/migrations/versions/0c5e3f92c3a8_historyunit_zarr_urls_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/history.py
  fractal_server/migrations/versions/0c5e3f92c3a8_historyunit_zarr_urls_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix typingi in pagination
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

Add `submissions-disable` and `submissions-enable` commands
  fractal_server/cli/__main__.py
  fractal_server/cli/_parser.py
  fractal_server/cli/_submissions.py
  tests/no_version/cli/test_submissions.py
Due: grep-for-devtools

Bump sqlalchemy to released versions
  pyproject.toml
  uv.lock
Due: none

Bump uv lock
  uv.lock
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

CLI coverage
  tests/no_version/cli/test_main.py
Due: none

bump `ty`
  .github/workflows/precommit.yml
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/pagination.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.25.1a0 -> 2.25.1
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  .github/workflows/precommit.yml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/cli/__main__.py
  fractal_server/cli/_parser.py
  fractal_server/cli/_submissions.py
  tests/no_version/cli/test_main.py
  tests/no_version/cli/test_submissions.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Improve logging for submissions CLI commands
  fractal_server/cli/_submissions.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/cli/_submissions.py
Due: grep-for-devtools

Add test case
  tests/v2/test_03_api/test_api_dataset.py
Due: none

Use `MISSING` sentinel for non-required non-nullable properties of PATCH-payload body
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/images/models.py
Due: grep-for-devtools

docstring
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

Use `MISSING` in comparisons in endpoints
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/workflow.py
Due: grep-for-devtools

Fix two tests
  tests/v2/test_01_schemas/test_unit_schemas_v2.py
  tests/v2/test_05_images/test_image_models.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
