Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

test 409
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

make name column unique
  fractal_server/app/models/v2/profile.py
  fractal_server/migrations/versions/ecb2ebaeaebc_add_profile_name.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add guardrails for resource/profile deletion
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

fix typo
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

Make project_dir required ref #2819
  fractal_server/app/models/user_settings.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/schemas/user_settings.py
  fractal_server/migrations/versions/f541e114b489_add_profile_name_make_usersettings_.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

revert changes to project_dir
  fractal_server/app/models/user_settings.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/schemas/user_settings.py
  fractal_server/migrations/versions/f541e114b489_add_profile_name.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fixes from comments
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/profile.py
Due: grep-for-devtools

Add `GET resource-of-profile` endpoint
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/resource_of_profile.py
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: grep-for-devtools

Use tagged union for `ResourceCreate` and replace PATCH-resource with `PUT`-resource
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/resource.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools

rename variable
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

Simplify PATCH-resource
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

Fix validation-relevant type hint
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/schemas/v2/__init__.py
Due: grep-for-devtools

Add `Profile.resource_type`
  fractal_server/app/models/v2/profile.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/schemas/v2/profile.py
  fractal_server/migrations/versions/a51b834e85ac_add_profile_resource_type.py
  tests/fixtures_computational_settings.py
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Transform PATCH-profile into PUT-profile
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/profile.py
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: grep-for-devtools

fix tests
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

Review
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/profile.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

coverage
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

fix import
  fractal_server/app/schemas/v2/__init__.py
Due: grep-for-devtools

fix resource test
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

remove redundant check
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

fix arg name
  fractal_server/app/routes/admin/v2/profile.py
Due: grep-for-devtools

fix profile test
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

fix init-db-data
  fractal_server/__main__.py
Due: grep-for-devtools

clean up migrations
  fractal_server/migrations/versions/6aaf0ba0febd_resource_profile.py
Due: grep-for-devtools

delete old migrations
  fractal_server/migrations/versions/60771b110f78_add_resource_and_profile.py
  fractal_server/migrations/versions/82f37eb78240_move_from_usersettings_to_profile.py
  fractal_server/migrations/versions/8ce0d43ced54_resource_constraints_and_fk.py
  fractal_server/migrations/versions/f541e114b489_add_profile_name.py
Due: grep-for-devtools

combine migrations
  fractal_server/migrations/versions/a51b834e85ac_add_profile_resource_type.py
  fractal_server/migrations/versions/a80ac5a352bf_resource_profile.py
Due: grep-for-devtools

Drop `UserOAuth.username`
  fractal_server/__main__.py
  fractal_server/app/models/security.py
  fractal_server/app/schemas/user.py
  fractal_server/app/security/__init__.py
  fractal_server/config/_init_data.py
  fractal_server/migrations/versions/90f6508c6379_drop_useroauth_username.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Add `GET /auth/current-user/profile-info/`
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

Drop usage of `FRACTAL_DEFAULT_ADMIN_USERNAME`
  pyproject.toml
  tests/no_version/test_unit_lifespan.py
Due: none

more tests
  docs/internals/users.md
  tests/no_version/test_api_users.py
  tests/no_version/test_fixture_MockCurrentUser.py
  tests/no_version/test_unit_schemas_no_version.py
  tests/no_version/test_unit_security.py
Due: none

bump poetry lock
  poetry.lock
Due: none

Add test
  tests/no_version/test_api_users.py
Due: none

remove branch
  fractal_server/app/routes/auth/current_user.py
Due: grep-for-devtools

introduce match/case
  fractal_server/__main__.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/routes/auth/oauth.py
  fractal_server/app/routes/aux/validate_user_settings.py
  fractal_server/runner/executors/base_runner.py
  fractal_server/runner/executors/local/get_local_config.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/v2/runner.py
  fractal_server/runner/v2/runner_functions.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Test for #2852
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

Better logging
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Fix #2852
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Use more-narrowly-scoped variable
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

poetry.lock
  poetry.lock
Due: none
