Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

remove ssh_jobs_dir from SlurmSshUserSettings
  fractal_server/app/user_settings.py
Due: grep-for-devtools

Remove custom type from model definition
  fractal_server/app/models/v2/job.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Bump poetry version in GHAs
  .github/workflows/benchmarks.yaml
  .github/workflows/ci.yml
  .github/workflows/ci_py313.yml
  .github/workflows/migrations.yml
  .github/workflows/poetry_build.yml
  .github/workflows/poetry_update.yml
  .github/workflows/publish_pypi.yml
  docs/development.md
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update documentation.yaml
  .github/workflows/documentation.yaml
Due: none

Update benchmarks.yaml
  .github/workflows/benchmarks.yaml
Due: none

More logging in init-db-data
  fractal_server/__main__.py
Due: grep-for-devtools

Clean up old env file
  benchmarks/populate_db/.fractal_server.env
Due: none

Add FIXME
  scripts/client/client.py
Due: none

remove extra args
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/deactivate.py
  fractal_server/tasks/v2/ssh/delete.py
  fractal_server/tasks/v2/ssh/reactivate.py
Due: grep-for-devtools

precommit and docstrings
  fractal_server/__main__.py
  fractal_server/app/models/v2/resource.py
  fractal_server/config/_email.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  tests/fixtures_computational_settings.py
  tests/no_version/test_unit_lifespan.py
  tests/v2/test_08_backends/test_local_runner.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove path and user id
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

submit-workflow
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

docstring
  fractal_server/runner/executors/slurm_common/slurm_config.py
Due: grep-for-devtools

remove ssh_jobs_dir
  fractal_server/app/models/user_settings.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/user_settings.py
  fractal_server/app/user_settings.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove path and user id
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Drop obsolete argument
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

fix test
  tests/v2/test_04_runner/test_unit_submit_workflow.py
Due: none

drop obsolete check
  fractal_server/runner/v2/_slurm_sudo.py
Due: grep-for-devtools

fix test API
  fractal_server/app/routes/api/v2/submit.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

some more tests
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_invalid_ssh.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_missing_db_objects.py
Due: none

fix one more background-task call signature
  fractal_server/tasks/v2/ssh/deactivate_pixi.py
Due: grep-for-devtools

fix one more background-task call signature
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
Due: grep-for-devtools

Drop `Resource.job_remote_folder`
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/60771b110f78_add_resource_and_profile.py
  tests/fixtures_computational_settings.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Add new fields to Validation schema
  fractal_server/app/schemas/v2/profile.py
Due: grep-for-devtools

fix ssh fixture
  tests/fixtures_computational_settings.py
Due: none

fix tests not api
  fractal_server/tasks/v2/ssh/deactivate_pixi.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
  tests/fixtures_computational_settings.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
  tests/no_version/test_unit_schemas_no_version.py
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_invalid_ssh.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_missing_db_objects.py
Due: grep-for-devtools

fix test
  tests/no_version/test_api_user_groups.py
Due: none

Fix call signature
  tests/v2/test_06_tasks_lifecycle/test_reactivate_ssh.py
Due: none

Fix call signature
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
Due: none

fix fixture
  tests/fixtures_computational_settings.py
Due: none

fix test
  tests/no_version/test_api_users.py
Due: none

fix test
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
Due: none

drop user_settings from some more ssh tests
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
Due: none

add required project-dir
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
Due: none

improve logs
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

review user-settings in test
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
Due: none

review user-settings in test
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
Due: none
