Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove linkuserproject's server defaults in migration
  fractal_server/migrations/versions/b7477cc98f45_2_18_1.py
Due: grep-for-devtools

cleadn db
  tests/data/testing_databases/clean_db_fractal_2.18.1.sql
Due: none

clean db 2
  tests/data/testing_databases/clean_db_fractal_2.18.1.sql
Due: none

Handle all `TODO-2.18.1`s (#3058)
  .github/workflows/migrations.yml
  CHANGELOG.md
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/models/security.py
  fractal_server/data_migrations/old/2_18_0.py
  fractal_server/migrations/versions/b7477cc98f45_2_18_1.py
  tests/data/testing_databases/clean_db_fractal_2.18.1.sql
  tests/no_version/test_user_manager.py
  tests/v2/test_02_models/test_models_project_share.py
  tests/v2/test_02_models/test_tasks_v2.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

bump version 2.18.0 -> 2.18.1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

rm previous_deps from MockCurrentUser init
  tests/fixtures_server.py
Due: none

change bool default
  tests/fixtures_server.py
Due: none

fix typo
  tests/no_version/test_api_users.py
Due: none

fix test project sharing
  tests/v2/test_03_api/test_api_sharing.py
Due: none

Revert "change bool default"
  tests/fixtures_server.py
Due: none

forbid user_id + other kwargs
  tests/fixtures_server.py
Due: none

fix test_get_profile_info
  tests/no_version/test_api_users.py
Due: none

test fixture
  tests/no_version/test_fixture_MockCurrentUser.py
Due: none

modify aux function
  fractal_server/app/routes/api/v2/_aux_functions_history.py
Due: grep-for-devtools

modify function calls
  fractal_server/app/routes/api/v2/history.py
  tests/v2/test_09_history/test_unit_api_aux_functions.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

Log message
  fractal_server/app/routes/api/v2/_aux_functions_history.py
Due: grep-for-devtools

coverage
  tests/v2/test_09_history/test_unit_api_aux_functions.py
Due: none

drop task group venv size and file numbers
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/schemas/v2/task_group.py
  fractal_server/migrations/versions/068496367952_drop_taskgroup_venv_size_and_files_.py
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/reactivate.py
  fractal_server/tasks/v2/templates/5_get_venv_size_and_file_number.sh
  fractal_server/tasks/v2/templates/5_pip_install_from_freeze.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
  fractal_server/tasks/v2/utils_pixi.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_unit_bash_scripts.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove leftovers
  fractal_server/tasks/v2/local/collect.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_utils_pixi.py
Due: grep-for-devtools

remove test
  tests/v2/test_06_tasks_lifecycle/test_unit_bash_scripts.py
Due: none

modify endpoints
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/test_api_job.py
Due: none

Drop `TaskGroupV2.venv_size_in_kB` and `TaskGroupV2.venv_file_number` (#3075)
  CHANGELOG.md
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/schemas/v2/task_group.py
  fractal_server/migrations/versions/068496367952_drop_taskgroup_venv_size_and_files_.py
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/reactivate.py
  fractal_server/tasks/v2/templates/5_get_venv_size_and_file_number.sh
  fractal_server/tasks/v2/templates/5_pip_install_from_freeze.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
  fractal_server/tasks/v2/utils_pixi.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_unit_bash_scripts.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_utils_pixi.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

also order per workflow job endpoint
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

improve test
  tests/v2/test_03_api/test_api_job.py
Due: none

Update CHANGELOG.md [skip ci[
  CHANGELOG.md
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Review job-list endpoints (#3076)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/job.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools
