Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

add TODO-2.18.1
  fractal_server/migrations/versions/099326684bd9_project_sharing.py
Due: grep-for-devtools

use enum for permissions
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/schemas/v2/__init__.py
  tests/fixtures_server_v2.py
  tests/v2/test_02_models/test_models_project_share.py
Due: grep-for-devtools

owner/guest names
  fractal_server/app/routes/api/v2/project_share.py
Due: grep-for-devtools

rename module and router tag
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

rename function
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

rename another function
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

rename yet other functions
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

rename schema module
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/sharing.py
Due: grep-for-devtools

begin test
  fractal_server/app/routes/api/v2/sharing.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

improve test
  fractal_server/app/routes/api/v2/__init__.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/test_api_sharing.py
Due: none

comment missing coverage [skip ci]
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

Test different equality statement for booleans
  fractal_server/app/routes/api/v2/project.py
  fractal_server/migrations/versions/4b4c4d1104e7_fake_2_17.py
  fractal_server/migrations/versions/e928a32b675b_fake_2_17_bis.py
Due: grep-for-devtools

Revert "Test different equality statement for booleans"
  fractal_server/app/routes/api/v2/project.py
  fractal_server/migrations/versions/4b4c4d1104e7_fake_2_17.py
  fractal_server/migrations/versions/e928a32b675b_fake_2_17_bis.py
Due: grep-for-devtools

Test different equality statement for booleans
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

review;
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/sharing.py
Due: grep-for-devtools

replace is_ with boolean values
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.17.1 -> 2.17.2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

reintroduce is_ and fix schema
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/schemas/v2/sharing.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/test_api_sharing.py
Due: none

remove validation in read schemas
  fractal_server/app/schemas/v2/sharing.py
Due: grep-for-devtools

permissions -> guest_permissions
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/schemas/v2/sharing.py
Due: grep-for-devtools

aux functions sharing module
  fractal_server/app/routes/api/v2/_aux_functions_sharing.py
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

minor fixed to test
  tests/v2/test_02_models/test_models_project_share.py
  tests/v2/test_03_api/test_api_sharing.py
Due: none

server_default to models
  fractal_server/app/models/linkuserproject.py
  fractal_server/migrations/versions/7e9963208a18_project_sharing.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

change check constaint names
  fractal_server/app/models/linkuserproject.py
  fractal_server/migrations/versions/bc0e8b3327a7_project_sharing.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix test
  tests/v2/test_02_models/test_models_project_share.py
Due: none

add order_by
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

test order_by guest_email
  tests/v2/test_03_api/test_api_sharing.py
Due: none

test failures
  fractal_server/app/routes/api/v2/_aux_functions_sharing.py
  fractal_server/app/routes/api/v2/sharing.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

return Response with status code
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

improve and remove comments
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

remove add link
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

docstrings
  fractal_server/app/routes/api/v2/_aux_functions_sharing.py
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

optimize query
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools
