Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

remove debug [skip ci]
  tests/v2/test_03_api/test_api_dataset.py
Due: none

bump version 2.18.0a4 -> 2.18.0a5
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

use is_relative_to
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

fix TODO 2.18.1
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/b7477cc98f45_2_18_1.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix tests
  tests/no_version/test_user_manager.py
  tests/v2/test_02_models/test_models_project_share.py
  tests/v2/test_02_models/test_tasks_v2.py
Due: none

Fix `SingleImage.origin` type hint and add model validator for `DatasetImport` (#3057)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/images/models.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

clean_db_fractal_2.18.1.sql
  fractal_server/data_migrations/old/2_18_0.py
  tests/data/testing_databases/clean_db_fractal_2.18.1.sql
Due: grep-for-devtools

fix migrations
  .github/workflows/migrations.yml
Due: none

changelog
  CHANGELOG.md
Due: none

stash - change MockCurrentUser
  tests/fixtures_server.py
Due: none

exclude collect endpoints from middleware
  fractal_server/main.py
Due: grep-for-devtools

comment [skip ci]
  fractal_server/main.py
Due: grep-for-devtools

formatting
  fractal_server/main.py
Due: grep-for-devtools

exclude submit endpoint
  fractal_server/main.py
Due: grep-for-devtools

aux function
  fractal_server/main.py
Due: grep-for-devtools

rename
  fractal_server/main.py
Due: grep-for-devtools

include /collect/custom/ in middleware
  fractal_server/main.py
Due: grep-for-devtools

test
  tests/no_version/test_middleware.py
Due: none

type hint and docstring
  tests/no_version/test_middleware.py
Due: none

without regex
  tests/no_version/test_middleware.py
Due: none

count endpoints in the test
  tests/no_version/test_middleware.py
Due: none

debug routes
  tests/no_version/test_middleware.py
Due: none

move debug
  tests/no_version/test_middleware.py
Due: none

watch test fail 1
  fractal_server/app/routes/api/__init__.py
Due: grep-for-devtools

watch test fail 2
  fractal_server/app/routes/api/__init__.py
Due: grep-for-devtools

clean up
  fractal_server/app/routes/api/__init__.py
Due: grep-for-devtools

test explicit
  tests/no_version/test_middleware.py
Due: none

add to empty set
  tests/no_version/test_middleware.py
Due: none

no if in aux function
  fractal_server/main.py
Due: grep-for-devtools

format
  fractal_server/main.py
Due: grep-for-devtools

docstring
  tests/no_version/test_middleware.py
Due: none

docstring [skip ci]
  tests/no_version/test_middleware.py
Due: none

Disable middleware for endpoints with background tasks (#3060)
  CHANGELOG.md
  fractal_server/main.py
  tests/no_version/test_middleware.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
