Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

column 79
  pyproject.toml
Due: none

Revert "column 79" [skip ci]
  pyproject.toml
Due: none

`pre-commit autoupdate`
  .pre-commit-config.yaml
Due: none

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

patch settings endpoint
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/settings.py
Due: grep-for-devtools

log worker pid
  fractal_server/app/routes/admin/v2/settings.py
  fractal_server/app/routes/api/__init__.py
Due: grep-for-devtools

Drop ruff ignore rules
  pyproject.toml
Due: none

add quotes in precommit config
  .pre-commit-config.yaml
Due: none

drop unsafe fixes
  .pre-commit-config.yaml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

allow [ and ]
  fractal_server/app/schemas/v2/task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: grep-for-devtools

augment LinkUserProjectV2
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/migrations/versions/099326684bd9_project_sharing.py
  tests/fixtures_server_v2.py
  tests/v2/test_02_models/test_models_project_share.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

simplify test setup [skip ci]
  tests/v2/test_02_models/test_models_project_share.py
Due: none

invitation endpoint
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools

allow square brackets for pinned_package_versions_pre/_post
  fractal_server/app/schemas/v2/task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: grep-for-devtools

uniform versions in test
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

include quotes in dependency strings
  fractal_server/app/models/v2/task_group.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix docstring [skip ci]
  fractal_server/app/models/v2/task_group.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix test
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_pip_install_string.py
Due: none

test extras installation
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

remove test extras installation
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

changelog
  CHANGELOG.md
Due: none

invitation accept/reject endpoints
  fractal_server/app/routes/api/v2/project_share.py
Due: grep-for-devtools

replace execute with get
  fractal_server/app/routes/api/v2/project_share.py
Due: grep-for-devtools

test
  tests/v2/test_02_models/test_models_project_share.py
Due: none

add is_owner to GET /api/v2/project/
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

ProjectShareRead schema and endpoint
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools

change invite endpoint
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools

PATCH project link endpoint and schema
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools

kick out user and aux functions
  fractal_server/app/routes/api/v2/project_share.py
Due: grep-for-devtools

see_current_invitations endpoint
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools

guest endpoints
  fractal_server/app/routes/api/v2/project_share.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project_share.py
Due: grep-for-devtools
