Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Update testing db
  .github/workflows/migrations.yml
  tests/data/testing_databases/clean_db_fractal_2.23.0.sql
  tests/data/testing_databases/update_to_2_23_0.sh
Due: none

Revert "Update testing db"
  .github/workflows/migrations.yml
  tests/data/testing_databases/clean_db_fractal_2.20.3.sql
  tests/data/testing_databases/update_to_2_23_0.sh
Due: none

Update bench.html & bench.json
  .github/workflows/migrations.yml
  benchmarks/bench.html
  benchmarks/bench.json
  tests/data/testing_databases/clean_db_fractal_2.23.0.sql
  tests/data/testing_databases/update_to_2_23_0.sh
Due: none

Update bench.html & bench.json
  .github/workflows/migrations.yml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.23.0 -> 2.23.1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

fix migrations
  fractal_server/migrations/versions/635d07f1ab55_add_historyunit_has_warnings.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

Update `test_bulk_update_has_warnings_history_unit` (with two logfiles)
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

Remove parametrize, support odd numbers of units
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

Precompute `grep` path in `bulk_update_has_warnings_history_unit`
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

Move db commit into loop
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

Broadly use pre-computed grep path
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  docs/install_and_deploy.md
  fractal_server/app/models/v2/history.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/schemas/v2/history.py
  fractal_server/app/schemas/v2/job.py
  fractal_server/images/models.py
  fractal_server/images/warnings_tools.py
  fractal_server/migrations/versions/635d07f1ab55_add_historyunit_has_warnings.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/db_tools.py
  fractal_server/runner/v2/runner_functions.py
  fractal_server/types/__init__.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_unit_db_tools.py
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_09_history/test_history_api.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.23.1 -> 2.23.2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add TaskV2.is_core
  fractal_server/app/models/v2/task.py
  fractal_server/migrations/versions/daecd41f37da_add_taskv2_is_core.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

admin endpoint
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

stash
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: none

test
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

aux function
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

test 404
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

uniform endpoints
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

Move check to sql
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

is_core as query param
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/schemas/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Make task `(name, taskgroupv2_id)` unique
  fractal_server/app/models/v2/task.py
  fractal_server/migrations/versions/66f492f489c3_add_unique_constraint_for_task_name.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Test new `unique` constraint
  tests/v2/test_02_models/test_tasks_v2.py
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/task.py
  fractal_server/migrations/versions/66f492f489c3_add_unique_constraint_for_task_name.py
  tests/v2/test_02_models/test_tasks_v2.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
