Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

commit wheel file
  tests/data/testing-tasks-mock/dist/testing_tasks_mock-0.1.4-py3-none-any.whl
Due: none

Simplify / optimize
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/tasks/v2/local/reset.py
Due: grep-for-devtools

Optimize test
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

Minor test fixes
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

Parallelize CI further
  .github/workflows/ci.yml
Due: none

Fix GHA
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

Datasets starring (#3311)
  CHANGELOG.md
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/migrations/versions/3e3ccea2f3ec_add_dataset_is_pinned.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove obsolete folder
  tests/data/testing-tasks-mock/.github/workflows/publish_to_pypi.yml
Due: none

remove obsolete file
  tests/data/testing-tasks-mock/.gitignore
Due: none

Fix
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

Test fixes
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/schemas/v2/job.py
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_09_history/test_history_api.py
Due: grep-for-devtools

Test fixes
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_09_history/test_history_api.py
Due: none

Support pixi
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/tasks/v2/local/__init__.py
  fractal_server/tasks/v2/local/reset_pixi.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: grep-for-devtools

Bump to
  pyproject.toml
  uv.lock
Due: none

fix test
  tests/no_version/test_middleware.py
Due: none

Unit tests
  fractal_server/app/routes/admin/v2/task_group_reset.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: grep-for-devtools

Simplify test
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

coverage
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Move /latest-job endpoint to latest_job.py
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/latest_job.py
Due: grep-for-devtools

Use HistoryUnitStatus instead of JobStatusType
  fractal_server/app/schemas/v2/job.py
Due: grep-for-devtools

Remove status_legacy.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/status_legacy.py
Due: grep-for-devtools

remove debugging info
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

Move latest-job tests to dedicated file
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_09_history/test_history_api.py
Due: none

Test failure
  fractal_server/tasks/v2/local/reset_pixi.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: grep-for-devtools

Increase coverage
  tests/v2/test_03_api/test_api_latest_job.py
Due: none

bump version 2.22.10a0 -> 2.22.10
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools
