Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Admin jobs endpoint (#3338)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/job.py
  tests/v2/test_03_api/admin/test_admin_job.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/admin/v2/job.py
  tests/v2/test_03_api/admin/test_admin_job.py
Due: grep-for-devtools

Types-inspired updates (#3340)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/security/signup_email.py
  fractal_server/config/_email.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/_worker_init.py
  fractal_server/runner/v2/deduplicate_list.py
  fractal_server/runner/v2/merge_outputs.py
  fractal_server/ssh/_fabric.py
  tests/fixtures_slurm.py
  tests/no_version/test_email.py
  tests/v2/test_00_ssh/test_FractalSSH.py
  tests/v2/test_08_backends/test_worker_init.py
Due: grep-for-devtools

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.22.11 -> 2.22.12
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/security/signup_email.py
  fractal_server/config/_email.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/_worker_init.py
  fractal_server/runner/v2/deduplicate_list.py
  fractal_server/runner/v2/merge_outputs.py
  fractal_server/ssh/_fabric.py
  pyproject.toml
  tests/fixtures_slurm.py
  tests/no_version/test_email.py
  tests/v2/test_00_ssh/test_FractalSSH.py
  tests/v2/test_08_backends/test_worker_init.py
Due: grep-for-devtools

introduce ProjectV2.description
  fractal_server/app/models/v2/project.py
  fractal_server/app/schemas/v2/dumps.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/migrations/versions/c0448884a8e9_add_projectv2_description.py
  tests/v2/test_03_api/test_api_project.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

changelog [skip ci]
  CHANGELOG.md
Due: none

allow patching only project description
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

remove 'description' from ProjectDump
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/dumps.py
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
Due: grep-for-devtools

SafeNonEmptyStr -> NonEmptyStr
  fractal_server/app/schemas/v2/project.py
Due: grep-for-devtools

improve test
  tests/v2/test_03_api/test_api_project.py
Due: none

add '.sql.sqltypes' import to mako file
  fractal_server/migrations/script.py.mako
Due: grep-for-devtools

Avoid uncontrolled path usage
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/urls.py
  tests/no_version/test_unit_urls.py
Due: grep-for-devtools

pr template
  .github/pull_request_template.md
Due: none

Update bench.html & bench.json
  .github/pull_request_template.md
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Introduce `ProjectV2.description` (#3341)
  CHANGELOG.md
  fractal_server/app/models/v2/project.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/migrations/script.py.mako
  fractal_server/migrations/versions/c0448884a8e9_add_projectv2_description.py
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_project.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/project.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/migrations/script.py.mako
  fractal_server/migrations/versions/c0448884a8e9_add_projectv2_description.py
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_project.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/urls.py
  tests/no_version/test_unit_urls.py
Due: grep-for-devtools

Use task-group object for `exists`
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Use task-group object for `exists`
  CHANGELOG.md
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Use object attribute in error message
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Exclude tests from dependabot
  .github/dependabot.yml
Due: none

groups in dependabot
  .github/dependabot.yml
Due: none

Update bench.html & bench.json
  .github/dependabot.yml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

add version comments
  .github/workflows/benchmarks.yaml
  .github/workflows/ci.yml
  .github/workflows/documentation.yaml
Due: none

remove redundant artifact upload
  .github/workflows/ci.yml
Due: none

Revert "remove redundant artifact upload"
  .github/workflows/ci.yml
Due: none

Update bench.html & bench.json
  .github/workflows/benchmarks.yaml
  .github/workflows/ci.yml
  .github/workflows/documentation.yaml
  .github/workflows/zizmor.yaml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Fix CHANGELOG
  CHANGELOG.md
Due: none
