Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.22.4 -> 2.22.5
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Preliminary work towards warnings
  fractal_server/app/models/v2/history.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/schemas/v2/history.py
  fractal_server/images/status_tools.py
  scripts/db_performance/bench_perf.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Move `db.commit` out of `update_status_of_history_unit`
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/v2/db_tools.py
  fractal_server/runner/v2/runner_functions.py
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: grep-for-devtools

`db.commit` in runner `multisubmit`
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

Type hint
  fractal_server/runner/v2/runner_functions.py
Due: grep-for-devtools

Fix test
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

Add missing `db.commit`
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

Add more missing `db.commit` statements
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

Rename function
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/db_tools.py
  fractal_server/runner/v2/runner_functions.py
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: grep-for-devtools

Coverage for error branch
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

test
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

Add DatasetV2.tags
  fractal_server/app/models/v2/dataset.py
  fractal_server/migrations/versions/e6a4746ddcd2_add_datasetv2_tags.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add tags to DatasetRead
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

get single project tags endpoint
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

remove comment [skip ci]
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

add tags to DatasetCreate
  fractal_server/app/schemas/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

add tags to DatasetUpdate
  fractal_server/app/schemas/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

add `GET dataset/tags/` endpoint
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

test user with no project and add FIXME
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

replace JSONB with ARRAY
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/migrations/versions/a1f9ef8750f3_add_datasetv2_tags.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

use default_factory
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

bring distinct out
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

Bump fractal-task-tools version in mock tasks
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pixi.lock
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pyproject.toml
  tests/v2/fractal_tasks_mock/dist/fractal_tasks_mock-0.0.1-py3-none-any.whl
  tests/v2/fractal_tasks_mock/pyproject.toml
Due: none

add new get_all_datasets endpoint
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

test without filtering
  tests/v2/test_03_api/test_api_dataset.py
Due: none

fix endpoint
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

most recent first
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

test filtering
  tests/v2/test_03_api/test_api_dataset.py
Due: none

add image_count to query
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

test image_count
  tests/v2/test_03_api/test_api_dataset.py
Due: none

bump lock
  uv.lock
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
