Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

fix error message
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

test_get_task_group_read_access
  tests/v2/test_03_api/test_get_task_group_read_access.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Fix sqlalchemy statement
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Update task-group access rules, in view of resource information (#2941)
  CHANGELOG.md
  fractal_server/__init__.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/workflow_import.py
  pyproject.toml
  tests/fixtures_server_v2.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_03_api/test_get_task_group_read_access.py
  tests/v2/test_03_api/test_unit_aux_functions.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix typo in test
  tests/v2/test_03_api/test_api_job.py
Due: none

reinstroduce FRACTAL_DEFAULT_GROUP_NAME to pytest env
  pyproject.toml
Due: none

unit test _get_default_usergroup_id_or_none
  tests/fixtures_server.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
Due: none

test skip
  tests/no_version/test_unit_security.py
Due: none

test log
  tests/no_version/test_unit_security.py
Due: none

Introduce `settings.FRACTAL_DEFAULT_GROUP_NAME`
  .github/workflows/benchmarks.yaml
  .github/workflows/migrations.yml
  CHANGELOG.md
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/security/__init__.py
  fractal_server/config/_main.py
  pyproject.toml
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_server.py
  tests/fixtures_server_v2.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
Due: grep-for-devtools

bump version 2.17.0a8 -> 2.17.0a9
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Forbid empty usergroup name
  fractal_server/app/schemas/user_group.py
Due: grep-for-devtools

Update user_group.py
  fractal_server/app/schemas/user_group.py
Due: grep-for-devtools

Fix `mkdocs` reload by downgrading `click` to version 8.2.1 ref https://github.com/squidfunk/mkdocs-material/issues/8478#issuecomment-3386761434
  poetry.lock
  pyproject.toml
Due: none

stash
  docs/install_and_deploy.md
Due: none

update set-db description
  fractal_server/__main__.py
Due: grep-for-devtools

add --create-default-group to init-db-data
  fractal_server/__main__.py
Due: grep-for-devtools

change _create_first_group into _create_default_group
  fractal_server/app/security/__init__.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
Due: grep-for-devtools

remove _async function
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

remove FRACTAL_DEFAULT_GROUP from env and add it to init-db-data
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/security/__init__.py
  fractal_server/config/_main.py
  fractal_server/data_migrations/old/2_4_0.py
  fractal_server/data_migrations/old/2_7_0.py
Due: grep-for-devtools

fix tests
  .github/workflows/benchmarks.yaml
  .github/workflows/migrations.yml
  pyproject.toml
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_server.py
  tests/fixtures_server_v2.py
  tests/fixtures_tasks_v2.py
  tests/no_version/test_api_current_user.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_task_group.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

allow admin to create default group
  fractal_server/__main__.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

fix tests
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

fix benchmark
  .github/workflows/benchmarks.yaml
Due: none

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

Move variable definition outside `if` block (close #2954)
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
Due: grep-for-devtools

Update `example` folder
  example/.gitignore
  example/run_fractal_server.sh
Due: none

Improve error message [close #2953]
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

Add `order_by` to `GET /auth/group/` [close #2947]
  fractal_server/app/routes/auth/group.py
Due: grep-for-devtools

Require a user to be both active and verified to access `GET /auth/current-user/allowed-viewer-paths/` [close #2932]
  fractal_server/app/routes/auth/current_user.py
Due: grep-for-devtools

style
  tests/v2/test_06_tasks_lifecycle/unit/test_simplify_pyproject_toml.py
Due: none

Add comment about pixi project/workspace [closes #2951]
  fractal_server/tasks/v2/utils_pixi.py
  tests/v2/test_06_tasks_lifecycle/unit/test_simplify_pyproject_toml.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
