Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

order_by and unique
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

Update README.md
  README.md
Due: none

First runner spec draft
  docs/internals/integrations/_runner_interface.md
  fractal_server/app/models/v2/task.py
  fractal_server/runner/v2/runner.py
  fractal_server/runner/v2/task_interface.py
  uv.lock
Due: grep-for-devtools, grep-for-fractal-types-in-models

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Rename and expand
  docs/internals/integrations/_task_execution.md
Due: none

First runner spec draft (#3196)
  CHANGELOG.md
  docs/internals/integrations/_task_execution.md
  fractal_server/app/models/v2/task.py
  fractal_server/runner/v2/runner.py
  fractal_server/runner/v2/task_interface.py
  uv.lock
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update _task_execution.md / links
  docs/internals/integrations/_task_execution.md
Due: none

Docstrings
  fractal_server/images/models.py
  fractal_server/runner/v2/task_interface.py
Due: grep-for-devtools

Update _task_execution.md
  docs/internals/integrations/_task_execution.md
Due: none

get templates endpoint returns template groups
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

introduce case in ordering
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

read access for export endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

Update index.md
  docs/index.md
Due: none

Mention package name/version in job logs
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

CHANGELOG
  CHANGELOG.md
Due: none

Update example gunicorn command
  example/run_fractal_server.sh
Due: none

Use specific loggers for lifespan startup/teardown
  fractal_server/main.py
Due: grep-for-devtools

Improve lifespan logging
  fractal_server/main.py
Due: grep-for-devtools

count subquery
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

Update CHANGELOG.md
  CHANGELOG.md
Due: none

3193 display task package and version in job logs (#3200)
  CHANGELOG.md
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

Fix test
  CHANGELOG.md
  tests/no_version/test_unit_lifespan.py
Due: none

1557 backlog review graceful shutdown (#3201)
  CHANGELOG.md
  example/run_fractal_server.sh
  fractal_server/main.py
  tests/no_version/test_unit_lifespan.py
Due: grep-for-devtools

introduce WorkflowTemplate.timestamp_last_used
  fractal_server/app/models/v2/workflow_template.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/workflow_template.py
  fractal_server/migrations/versions/59820266be0a_add_workflowtemplate_table.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
