Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Add `git stash` to GHA
  .github/workflows/benchmarks.yaml
Due: none

git checkout stash -- .
  .github/workflows/benchmarks.yaml
Due: none

Add git config to GHA
  .github/workflows/benchmarks.yaml
Due: none

Update bench.html & bench.json
  .github/workflows/benchmarks.yaml
  .github/workflows/publish_pypi.yml
  .github/workflows/zizmor.yaml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Remove `GET /project/{project_id}/dataset/{dataset_id}/history/`
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

Remove obsolete tests
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_09_history/test_history_api.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Drop `HistoryRunRead` schema
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/history.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/history.py
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_09_history/test_history_api.py
Due: grep-for-devtools

test starring workflows
  tests/v2/test_03_api/test_api_workflow.py
Due: none

test starring projects
  tests/v2/test_03_api/test_api_project.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/workflow.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/migrations/versions/18867fb5201a_add_is_starred_to_projectv2_and_.py
  tests/fixtures_factories.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_workflow.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

`python3 -m infer_types ./fractal_server`
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/api/alive.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/schemas/v2/workflowtask.py
  fractal_server/app/security/__init__.py
  fractal_server/app/shutdown.py
  fractal_server/main.py
  fractal_server/runner/executors/local/runner.py
Due: grep-for-devtools

AsyncIterator
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/main.py
Due: grep-for-devtools

Improve process-workflow hint
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Move from `.get` to `.get_one` in `runner/v2/submit_workflow.py`
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Remove non-typed backend-specific kwargs
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Fix branching for different backends
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Replace `get` with `get_one` in `fractal_server/runner/v2/runner.py`
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

Additional `get->get_one` replacements
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/utils_database.py
Due: grep-for-devtools

Add `ty` configuration
  pyproject.toml
Due: none

move section in pyproject
  pyproject.toml
Due: none

Add `ty` job to GHA
  .github/workflows/precommit.yml
Due: none

Add `continue-on-error`
  .github/workflows/precommit.yml
Due: none

Add pip install
  .github/workflows/precommit.yml
Due: none

Change `ty` mode
  pyproject.toml
Due: none

Merge GHA steps
  .github/workflows/precommit.yml
Due: none

Run `ty` via `uv`
  .github/workflows/precommit.yml
Due: none

ty config
  .github/workflows/precommit.yml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
