Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

replace hardcoded help messages
  docs/install_and_deploy.md
Due: none

automatically get subcmds
  docs/scripts/gen_ref_cli.py
Due: none

Include Python3.14 in the task-collection options
  fractal_server/app/schemas/v2/task_collection.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Review install-and-deploy
  docs/install_and_deploy.md
Due: none

Review configuration page
  docs/configuration.md
  fractal_server/config/_data.py
  fractal_server/config/_oauth.py
Due: grep-for-devtools

simplify internals
  docs/internals/index.md
  docs/internals/logging.md
  docs/internals/task_collection.md
Due: none

fix link
  docs/internals/database_interface.md
Due: none

change types
  fractal_server/config/_database.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

remove docstrings
  fractal_server/config/_database.py
Due: grep-for-devtools

docstring
  fractal_server/exceptions.py
Due: grep-for-devtools

remove nesting layer in code reference
  docs/scripts/gen_ref_pages.py
Due: none

review database interface page
  docs/install_and_deploy.md
  docs/internals/database_interface.md
Due: none

Add `autorefs/resolve_closest=true`
  mkdocs.yml
Due: none

links
  docs/development.md
  docs/internals/logging.md
  docs/internals/runners/local.md
  docs/internals/runners/slurm.md
  docs/internals/users.md
  docs/internals/version_upgrades/upgrade_2_16_6_to_2_17_0.md
Due: none

docstrings
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/models/v2/history.py
  fractal_server/app/models/v2/job.py
  fractal_server/app/models/v2/profile.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/resource.py
  fractal_server/app/routes/admin/v2/job.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

users
  docs/internals/users.md
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

improve users docs
  docs/internals/users.md
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

improve users docs
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

docs users authentication
  docs/internals/users.md
Due: none

Rename classes and add FIXMEs
  fractal_server/app/schemas/v2/resource.py
  fractal_server/images/models.py
  fractal_server/runner/config/_slurm.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_05_images/test_image_models.py
Due: grep-for-devtools

bump version 2.17.0a11 -> 2.17.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

review oauth full example [skip ci]
  docs/internals/users.md
Due: none

add warning of dev tools [skip ci]
  docs/internals/users.md
Due: none

Mention `FRACTAL_EMAIL_PASSWORD` in migration instructions [close #2969]
  docs/internals/version_upgrades/upgrade_2_16_6_to_2_17_0.md
Due: none

fix docstrings
  docs/internals/users.md
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

newlines
  docs/internals/users.md
Due: none

generate computational area page, with switch
  docs/scripts/validate_assets.py
Due: none

Fail for non-converter task running on an empty image list
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

BROKEN include json in markdown
  docs/internals/computational_area.md
  docs/scripts/validate_assets.py
Due: none

Validate images and zarr_dir in dataset factory
  tests/fixtures_server_v2.py
Due: none

Fix `test_loss_of_access_to_task`
  tests/v2/test_03_api/test_loss_of_access_to_task.py
Due: none

Make `dummy_insert_single_image` a converter task
  tests/v2/fractal_tasks_mock/dist/fractal_tasks_mock-0.0.1-py3-none-any.whl
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/__FRACTAL_MANIFEST__.json
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dev/task_list.py
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dummy_insert_single_image.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
