Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

bump version 2.22.12 -> 2.22.13
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add HistoryUnit.has_warnings
  fractal_server/app/models/v2/history.py
  fractal_server/app/schemas/v2/history.py
  fractal_server/migrations/versions/635d07f1ab55_add_historyunit_has_warnings.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Dependencies
  pyproject.toml
  uv.lock
Due: none

compute has_warnings in slurm executor
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

add griffe-typingdoc
  pyproject.toml
  uv.lock
Due: none

add zensical.toml
  zensical.toml
Due: none

define basic has_warnings
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

Add `AccountingRecordSlurm.resource_id`
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/runner/executors/base_runner.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_fractal_examples.py
  tests/v2/test_04_runner/test_runner_failures.py
  tests/v2/test_08_backends/test_local_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_squeue.py
  tests/v2/test_08_backends/test_slurm_sudo_check_versions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_exceptions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_slurm_error.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_with_slurm_account.py
  tests/v2/test_08_backends/test_slurm_sudo_shutdown.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

CHANGELOG
  CHANGELOG.md
Due: none

migration
  fractal_server/migrations/versions/1ef3722b998f_add_accountingrecordslurm_resource_id.py
Due: grep-for-devtools

Simplify schema
  fractal_server/app/routes/admin/v2/accounting.py
Due: grep-for-devtools

add unit test
  tests/v2/test_03_api/admin/test_admin_accounting.py
Due: none

Fix test
  tests/v2/test_08_backends/test_base_slurm_runner.py
Due: none

fix history unit id arg
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/migrations/versions/1ef3722b998f_add_accountingrecordslurm_resource_id.py
  fractal_server/runner/executors/base_runner.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_fractal_examples.py
  tests/v2/test_04_runner/test_runner_failures.py
  tests/v2/test_08_backends/test_base_slurm_runner.py
  tests/v2/test_08_backends/test_local_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_squeue.py
  tests/v2/test_08_backends/test_slurm_sudo_check_versions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_exceptions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_slurm_error.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_with_slurm_account.py
  tests/v2/test_08_backends/test_slurm_sudo_shutdown.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

has_warnings for local runner
  fractal_server/runner/executors/local/runner.py
Due: grep-for-devtools

fix revisions order
  fractal_server/migrations/versions/635d07f1ab55_add_historyunit_has_warnings.py
  uv.lock
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.22.13 -> 2.22.14
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add HistoryRunReadAggregated.num_units_with_warnings
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/schemas/v2/history.py
Due: grep-for-devtools

test
  tests/v2/test_09_history/test_history_api.py
Due: none

typo
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

pydantic inv file
  zensical.toml
Due: none

some upgrades - including duplicating some files
  docs/changelog.md
  docs/development.md
  docs/reference/api.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: none

add TaskStatusImages.num_warnings_images
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/schemas/v2/job.py
  tests/v2/test_03_api/test_api_latest_job.py
Due: grep-for-devtools

fix tests
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

num_warnings_images -> num_images_with_warnings
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/schemas/v2/job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_07_full_workflow/common_functions.py
Due: grep-for-devtools

return boolean expression and add docstring
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

new JSONType
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/types/__init__.py
Due: grep-for-devtools

refactor
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

get -> get_one
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

rename function and remove arg
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/db_tools.py
  fractal_server/runner/v2/runner_functions.py
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: grep-for-devtools

add grep to install_and_deploy.md
  docs/install_and_deploy.md
Due: none

fix test
  tests/v2/test_04_runner/test_unit_db_tools.py
Due: none

Add `ondelete="SET NULL"` for `AccountingRecordSlurm.resource_id`
  fractal_server/app/models/v2/accounting.py
Due: grep-for-devtools, grep-for-fractal-types-in-models
