Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Add `user_resource_id` argument to `_verify_non_duplication_user_constraint`
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  tests/fixtures_server_v2.py
Due: grep-for-devtools

Add resource-matching condition to `_get_task_group_read_access`
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

Make project `resource_id` FK required [closes #2942]
  fractal_server/app/models/v2/project.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/project.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_unit_aux_functions.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix test
  tests/v2/test_03_api/test_api_dataset.py
Due: none

fix _create_first_group and fixtures
  fractal_server/app/security/__init__.py
  tests/fixtures_server.py
Due: grep-for-devtools

remove group All from pytest env
  pyproject.toml
Due: none

override settings in default_user_group fixture
  tests/fixtures_server.py
Due: none

fix tests
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
Due: none

Fix `where` condition
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

bump version 2.17.0a6 -> 2.17.0a7
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add `unique`
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

bump version 2.17.0a7 -> 2.17.0a8
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Filter by resource in get-task-groups
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Only display activities for current user resource
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Scope no-path-duplication constraint to Resource
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  tests/v2/test_06_tasks_lifecycle/unit/test_verify_non_duplication_group_path.py
Due: grep-for-devtools

Include `order_by` when producing lists of db rows
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

revert scoping get-task-group-activity to resource
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_task_group.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Add some `order_by` and `where` for multi-resource APIs (#2943)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_task_group.py
  tests/v2/test_06_tasks_lifecycle/unit/test_verify_non_duplication_group_path.py
Due: grep-for-devtools

Improve check in `POST /users/{user_id}/set-groups/`
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

docstrings
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
Due: grep-for-devtools

Clean up branches in `on_after_register`
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

fix comment
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Add `close_logger` - ref #2944
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Clean up logs
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Docstring
  fractal_server/config/_main.py
Due: grep-for-devtools

Restore fixture behavior
  tests/fixtures_server.py
Due: none

comment [skip ci]
  tests/fixtures_server.py
Due: none

Fix import-workflow (closes #2946)
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

reintroduce check
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

renames
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  tests/fixtures_server_v2.py
Due: grep-for-devtools

renames
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

Use aux functions
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Update __init__.py
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

fix fixture
  tests/fixtures_server.py
Due: none

update `_disambiguate_task_groups`
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
Due: grep-for-devtools

fix circular import
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
