Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

change pyyaml version
  pyproject.toml
  uv.lock
Due: none

Move `pyyaml` to general dependencies (#3409)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

Include `is_core` in `AvailableTask` (#3401)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/workflow_import.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/api/v2/workflow_import.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

bump version 2.24.1a0 -> 2.24.1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add `network: host` to build options in docker compose
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
Due: none

Expose port for SSH resource
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/56bd7c442772_add_resource_port.py
  fractal_server/ssh/_fabric.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/deactivate.py
  fractal_server/tasks/v2/ssh/deactivate_pixi.py
  fractal_server/tasks/v2/ssh/delete.py
  fractal_server/tasks/v2/ssh/reactivate.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fixture
  fractal_server/app/schemas/v2/resource.py
  tests/fixtures_computational_settings.py
Due: grep-for-devtools

One more default + one more fixture
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_docker.py
Due: grep-for-devtools

Add comment and simplify tests
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_docker.py
Due: grep-for-devtools

Use Resource property
  fractal_server/app/models/v2/resource.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/migrations/versions/56bd7c442772_add_resource_port.py
  fractal_server/ssh/_fabric.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/deactivate.py
  fractal_server/tasks/v2/ssh/deactivate_pixi.py
  fractal_server/tasks/v2/ssh/delete.py
  fractal_server/tasks/v2/ssh/reactivate.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

attribute name
  fractal_server/app/models/v2/resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Simplify test config
  tests/fixtures_docker.py
Due: none

use shared variable
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Docstring
  fractal_server/app/models/v2/resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix attribute name
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Use variable in tests
  tests/fixtures_computational_settings.py
Due: none

Rename column, without leading underscore
  fractal_server/app/models/v2/resource.py
  fractal_server/migrations/versions/56bd7c442772_add_resource_port.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

docstring
  fractal_server/app/models/v2/resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Variable name and docstring
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

another rename
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/56bd7c442772_add_resource_port_internal.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

docstring
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

fix fixture
  tests/fixtures_computational_settings.py
Due: none

Accept `port_internal=None`
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Add /job/squeue/ endpoint
  fractal_server/app/routes/api/v2/job.py
  tests/v2/test_03_api/test_api_squeue.py
Due: grep-for-devtools

Squeue endpoint improvements after code review
  fractal_server/app/routes/api/v2/job.py
  tests/v2/test_03_api/test_api_squeue.py
Due: grep-for-devtools

Fix failing tests
  tests/v2/test_03_api/test_api_squeue.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
