Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

more assertions
  benchmarks/json_serialization/README.md
  benchmarks/json_serialization/bench_orm_object_dump_sqlalchemy.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
  benchmarks/json_serialization/utils_for_orm_dump.py
Due: none

README
  benchmarks/json_serialization/README.md
Due: none

Benchmark db-committed objects
  benchmarks/json_serialization/bench_orm_object_dump_sqlalchemy.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
  benchmarks/json_serialization/utils_for_orm_dump.py
Due: none

Use proper SQLModel base
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.24.4a0 -> 2.24.4
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Simplify sync/async engine attributes
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

Use `typing.Callable`
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

Fix usage of `_get_engine_atrs`
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

improve docstring
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix type hint
  fractal_server/app/routes/admin/v2/accounting.py
Due: grep-for-devtools

Fix type hint
  fractal_server/app/routes/admin/v2/job.py
Due: grep-for-devtools

Fix type hint
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

docstrings
  fractal_server/json_utils.py
Due: grep-for-devtools

Add `arbitrary_types_allowed=True` for `PaginationResponse`
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

Docstrings
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Docstrings
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

SQLModel->SQLAlchemy, part 2 (tests)
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_computational_settings.py
  tests/fixtures_factories.py
  tests/fixtures_server.py
  tests/fixtures_tasks.py
  tests/no_version/test_api_oauth.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_db.py
  tests/no_version/test_enum_comparison_in_sqlalchemy.py
  tests/no_version/test_init_db_data.py
  tests/no_version/test_unit_auth.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_models_base.py
  tests/no_version/test_unit_security.py
  tests/no_version/test_user_manager.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_dataset_images.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_03_api/test_unit_aux_functions.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_04_runner/aux_get_dataset_attrs.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_unit_db_tools.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_failures.py
  tests/v2/test_09_history/test_history_api.py
  tests/v2/test_09_history/test_unit_upsert.py
Due: none

SQLModel->SQLAlchemy, part 3 (benchmark)
  benchmarks/json_serialization/README.md
  benchmarks/json_serialization/bench_json_serializer.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlalchemy.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
  benchmarks/json_serialization/utils_for_orm_dump.py
Due: none

Update `tests/no_version/test_unit_models_base.py`
  tests/no_version/test_unit_models_base.py
Due: none

Update README.md
  benchmarks/json_serialization/README.md
Due: none

bump version 2.24.4 -> 2.25.0a0
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

bump version 2.25.0a0 -> 2.25.1a0
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Vendor `SQLAlchemyUserDatabase`
  fractal_server/app/security/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

docstring about https://github.com/fastapi-users/fastapi-users-db-sqlalchemy/issues/25
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Reduce usage of generic `UP` and `OAP`
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Simplify `SQLAlchemyUserDatabase`
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Remove unreachable branches
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Remove `Optional[X]`
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

bump version 2.25.0a0 -> 2.25.0
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools
