Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

bump version 2.18.5 -> 2.18.6
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Refactor modules for endpoints in `/api/` but not in `/api/v2/`
  fractal_server/app/routes/api/__init__.py
  fractal_server/app/routes/api/alive.py
  fractal_server/app/routes/api/settings.py
  uv.lock
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

docstring
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

fix typo
  tests/fixtures_server.py
Due: none

simplify get_api_user
  fractal_server/app/routes/auth/__init__.py
Due: grep-for-devtools

reduce diff [skip ci]
  fractal_server/app/routes/auth/__init__.py
  tests/no_version/test_current_user_act_ver_prof.py
Due: grep-for-devtools

add is_guest to user crud
  fractal_server/app/routes/auth/users.py
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

test api access
  tests/v2/test_03_api/test_api_guest_access.py
Due: none

rename [skip ci]
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

add model_validator to UserCreate
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

test unit
  fractal_server/app/schemas/user.py
  tests/no_version/test_unit_schemas_no_version.py
Due: grep-for-devtools

remove model validator
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

Revert test
  tests/no_version/test_unit_schemas_no_version.py
Due: none

Add `POST /admin/v2/linkuserproject/verify/` endpoint [ref #3133]
  fractal_server/app/routes/admin/v2/sharing.py
  tests/v2/test_03_api/admin/test_accept_guest_invitation.py
Due: grep-for-devtools

Extend test
  tests/v2/test_03_api/admin/test_accept_guest_invitation.py
Due: none

Fail for non-read permissions for guest users
  fractal_server/app/routes/admin/v2/sharing.py
  tests/v2/test_03_api/admin/test_accept_guest_invitation.py
Due: grep-for-devtools

return empty list for guests
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_accept_guest_invitation.py
Due: none

Run some GitHub Actions when targeting `ihb-develop` branch
  .github/workflows/alembic_check.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
  .github/workflows/precommit.yml
Due: none

bump version 2.18.6 -> 2.19.0a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Support guest users (#3130)
  CHANGELOG.md
  fractal_server/__init__.py
  fractal_server/app/models/security.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/pre_submission_checks.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/routes/api/v2/status_legacy.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_version_update.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/routes/auth/__init__.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/schemas/user.py
  fractal_server/migrations/versions/e53dc51fdf93_add_useroauth_is_guest.py
  pyproject.toml
  tests/fixtures_server.py
  tests/no_version/test_api_users.py
  tests/no_version/test_current_user_act_ver_prof.py
  tests/v2/test_02_models/test_model_useroauth.py
  tests/v2/test_03_api/admin/test_accept_guest_invitation.py
  tests/v2/test_03_api/test_api_guest_access.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add validator for usercreate.password
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

test
  tests/no_version/test_api_users.py
Due: none

move chjeck in validate_password
  fractal_server/app/schemas/user.py
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

precommit
  fractal_server/app/security/__init__.py
  tests/no_version/test_api_users.py
  uv.lock
Due: grep-for-devtools

fix test
  fractal_server/app/security/__init__.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

remove test file [skip ci]
  register.sh
Due: none

restore uv.lock
  uv.lock
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

stash
  CONTRIBUTING.md
Due: none
