Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

remove status-legacy endpoint
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/status_legacy.py
  tests/v2/test_03_api/test_status_legacy.py
Due: grep-for-devtools

drop dataset.history
  fractal_server/app/models/v2/dataset.py
  fractal_server/migrations/versions/18a26fcdea5d_drop_dataset_history.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add JobV2.fractal_server_version
  fractal_server/app/models/v2/job.py
  fractal_server/migrations/versions/e762c1c45254_add_jobv2_fractal_server_version.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

changelog [skip ci]
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

Deprecate `legacy-status` endpoint and `DatasetV2.history` (#3160)
  CHANGELOG.md
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/status_legacy.py
  fractal_server/migrations/versions/18a26fcdea5d_drop_dataset_history.py
  tests/v2/test_03_api/test_status_legacy.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix revisions order
  fractal_server/migrations/versions/e762c1c45254_add_jobv2_fractal_server_version.py
Due: grep-for-devtools

populate fractal_server_version from submit endpoint
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

remove useless runner module
  fractal_server/runner/versions.py
Due: grep-for-devtools

Revert "remove useless runner module"
  fractal_server/runner/versions.py
Due: grep-for-devtools

add column to TaskGroupActivityV2
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/bb5d46d6158c_add_fractal_server_version_column_to_.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

populate TaskGroupActivityV2.fractal_server_version
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
Due: grep-for-devtools

fractal_server_version non nullable with server_default
  fractal_server/app/models/v2/job.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/cfd13f7954e7_add_fractal_server_version_to_jobv2_and_.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove fractal server version from job.log
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Add `fractal_server_version` to task-group-activity and job tables (#3161)
  CHANGELOG.md
  fractal_server/app/models/v2/job.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/migrations/versions/cfd13f7954e7_add_fractal_server_version_to_jobv2_and_.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

bump version 2.19.0a2 -> 2.19.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add new attributes to wf and wft import/export classes
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/app/schemas/v2/workflowtask.py
Due: grep-for-devtools

add description and alias to test data
  tests/data/import_export/workflow-v2.json
Due: none

add description and alias to wftask create
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/schemas/v2/workflowtask.py
Due: grep-for-devtools

add assertions to test
  tests/v2/test_03_api/test_api_workflow_import_export.py
  uv.lock
Due: none

test description on workflow create
  tests/v2/test_03_api/test_api_workflow.py
Due: none

add description to workflow create schema
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

use NonEmptyStr
  fractal_server/app/schemas/v2/workflow.py
  tests/v2/test_03_api/test_api_workflow.py
Due: grep-for-devtools

fix typo in test
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

test workflowtask post
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none

rm unused fixture [skip ci]
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none

Include new WF and WFT metadata in create and import/export schemas (#3164)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/app/schemas/v2/workflowtask.py
  tests/data/import_export/workflow-v2.json
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
  tests/v2/test_03_api/test_api_workflow_task.py
  uv.lock
Due: grep-for-devtools

improve error messages for passwords
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Expand `STDERR_IGNORE_PATTERNS` with new case
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
