Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Change `use_pixi_lockfile` deafault
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Forbid extras for reset-endpoint body
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

Add `check_pixi_version`
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/aux/pixi_version.py
Due: grep-for-devtools

Tests
  tests/v2/test_03_api/test_unit_python_interpreter_or_422.py
  tests/v2/test_03_api/test_unit_python_pixi_bin.py
Due: none

type hint
  fractal_server/app/routes/aux/pixi_version.py
Due: grep-for-devtools

fix if/else
  fractal_server/app/routes/aux/pixi_version.py
Due: grep-for-devtools

Improve test
  tests/v2/test_03_api/test_unit_python_pixi_bin.py
Due: none

Improve aux function and fix test
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/aux/pixi_version.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
  tests/v2/test_03_api/test_unit_aux_functions_python_pixi.py
Due: grep-for-devtools

rename
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/aux/pixi_version.py
  tests/v2/test_03_api/test_unit_aux_functions_python_pixi.py
Due: grep-for-devtools

Remove test
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
Due: none

pyrefly infer
  fractal_server/__main__.py
  fractal_server/app/db/__init__.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/auth/oauth.py
  fractal_server/app/routes/aux/_job.py
  fractal_server/app/routes/aux/_runner.py
  fractal_server/app/routes/pagination.py
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/app/schemas/v2/manifest.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/security/__init__.py
  fractal_server/config/__init__.py
  fractal_server/data_migrations/tools.py
  fractal_server/exceptions.py
  fractal_server/gunicorn_fractal.py
  fractal_server/logger.py
  fractal_server/main.py
  fractal_server/runner/exceptions.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/task_files.py
  fractal_server/runner/v2/runner_functions.py
  fractal_server/ssh/_fabric.py
  fractal_server/string_tools.py
  fractal_server/syringe.py
  fractal_server/tasks/config/_pixi.py
  fractal_server/tasks/v2/ssh/_pixi_slurm_ssh.py
  fractal_server/tasks/v2/utils_background.py
  fractal_server/tasks/v2/utils_templates.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

models and schemas
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/workflow.py
  fractal_server/app/schemas/v2/project.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/migrations/versions/f529d37a9210_add_projectv2_is_starred_and_workflowv2_.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Add `#nosec` comment
  fractal_server/app/routes/admin/v2/impersonate.py
Due: grep-for-devtools

project endpoints
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

Bump uv and uv-action versions
  .github/workflows/alembic_check.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/publish_pypi.yml
Due: none

fix typo
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

Reset precommit yaml
  .pre-commit-config.yaml
Due: none

workflow endpoints
  fractal_server/app/routes/api/v2/workflow.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

migration
  fractal_server/migrations/versions/18867fb5201a_add_is_starred_to_projectv2_and_.py
Due: grep-for-devtools

order workflow by name
  fractal_server/app/routes/api/v2/workflow.py
Due: grep-for-devtools

exclude is_starred from dumps
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

exclude is_starred from dumps in tests
  tests/fixtures_factories.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
Due: none

Bump zizmor action to use zizmor 1.25.0
  .github/workflows/zizmor.yaml
Due: none

Permissions
  .github/workflows/publish_pypi.yml
Due: none

Replace `stefanzweifel/git-auto-commit-action`, first attempt
  .github/workflows/benchmarks.yaml
Due: none

CHANGELOG [skip ci]
  .github/workflows/benchmarks.yaml
  CHANGELOG.md
Due: none

Add `git fetch` to GHA
  .github/workflows/benchmarks.yaml
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
