Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

Fix `tests/v2/test_04_runner/test_dummy_examples.py`
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dev/task_list.py
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

Remove skipped part of test (ref #2736)
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

Fix some 07 tests
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

Fix `tests/v2/test_04_runner/test_no_images_parallelization.py`
  tests/v2/test_04_runner/test_no_images_parallelization.py
Due: none

update `example`
  example/.fractal_server.env
  example/cleanup.sh
  example/run_fractal_server.sh
Due: none

Correctly update HistoryRun
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

re-enable test of consistent db after failure
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

comment [skip ci]
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

TO REVERT - test of snippet
  .gitignore
  docs/internals/test.md
  docs/scripts/validate_assets.py
Due: none

Revert "BROKEN include json in markdown"
  docs/internals/computational_area.md
  docs/scripts/validate_assets.py
Due: none

avoid infinite reload loop
  .gitignore
  docs/internals/test.md
  docs/scripts/validate_assets.py
Due: none

Commit snippet
  .gitignore
  docs/assets/resource_and_profile/snippet.md
  docs/internals/computational.md
  docs/internals/test.md
  docs/scripts/validate_assets.py
Due: none

stash
  docs/internals/test.md
Due: none

Fix newline
  docs/scripts/validate_assets.py
Due: none

fix newline
  docs/scripts/validate_assets.py
Due: none

fix comparison
  docs/scripts/validate_assets.py
Due: none

fix login flow
  docs/internals/users.md
Due: none

fix endpoint paths and update examples
  docs/internals/users.md
Due: none

First 2.17.1 schema migrations
  fractal_server/app/models/__init__.py
  fractal_server/app/models/security.py
  fractal_server/app/models/user_settings.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/45fbb391d7af_make_resource_id_fk_non_nullable.py
  fractal_server/migrations/versions/49d0856e9569_drop_table.py
  fractal_server/migrations/versions/caba9fb1ea5e_drop_useroauth_user_settings_id.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix some tests
  tests/no_version/test_db.py
  tests/no_version/test_enum_comparison_in_sqlalchemy.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_02_models/test_models_project.py
  tests/v2/test_02_models/test_models_workflow.py
Due: none

Remove project_dir default
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/7673fe18c05d_remove_project_dir_server_default.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix more tests
  tests/fixtures_server_v2.py
  tests/no_version/test_enum_comparison_in_sqlalchemy.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_02_models/test_models_project.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_02_models/test_tasks_v2.py
  tests/v2/test_03_api/admin/test_impersonate.py
  tests/v2/test_03_api/test_get_task_group_read_access.py
  tests/v2/test_03_api/test_loss_of_access_to_task.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_06_tasks_lifecycle/unit/test_user_profile.py
Due: none

Fix fixture
  tests/fixtures_server_v2.py
Due: none

fix more tests
  tests/fixtures_server.py
  tests/no_version/test_enum_comparison_in_sqlalchemy.py
  tests/v2/test_02_models/test_models_project.py
  tests/v2/test_02_models/test_models_workflow.py
Due: none

make project-factory fixture more flexible
  tests/fixtures_server_v2.py
Due: none

use proper resource_id
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

Make `FRACTAL_GRACEFUL_SHUTDOWN_TIME` a float
  fractal_server/config/_main.py
Due: grep-for-devtools

Lower `FRACTAL_GRACEFUL_SHUTDOWN_TIME` in pytest-env
  pyproject.toml
Due: none

Review `fractal_server/app/shutdown.py`
  fractal_server/app/shutdown.py
Due: grep-for-devtools

error message
  fractal_server/app/shutdown.py
Due: grep-for-devtools

Fix test
  tests/no_version/test_unit_lifespan.py
Due: none

Simplify test_lifespan_slurm_ssh
  tests/no_version/test_unit_lifespan.py
Due: none

rename script
  docs/scripts/resource_and_profile.py
  mkdocs.yml
Due: none

fix wrong f-string
  docs/scripts/resource_and_profile.py
Due: none

Docstrings
  fractal_server/app/schemas/v2/resource.py
  fractal_server/tasks/config/_python.py
Due: grep-for-devtools

integrations
  docs/internals/computational.md
  docs/internals/integrations/index.md
  docs/internals/integrations/runners.md
  docs/internals/integrations/tasks.md
  docs/internals/runners/index.md
Due: none

resource/profile examples
  docs/assets/resource_and_profile/profile_local.json
  docs/assets/resource_and_profile/profile_ssh.json
  docs/assets/resource_and_profile/profile_sudo.json
  docs/assets/resource_and_profile/resource_local.json
  docs/assets/resource_and_profile/resource_ssh.json
  docs/assets/resource_and_profile/resource_sudo.json
  docs/assets/resource_and_profile/snippet.md
  docs/scripts/resource_and_profile.py
Due: none

resource/profile examples
  docs/assets/resource_and_profile/snippet.md
  docs/scripts/resource_and_profile.py
Due: none

integrations
  docs/internals/integrations/index.md
Due: none
