Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Migration
  fractal_server/migrations/versions/92ec661b7f76_add_ondelete_set_null.py
Due: grep-for-devtools

Require starlette>=1.0.1
  pyproject.toml
Due: none

Bump lock
  uv.lock
Due: none

CHANGELOG.md
  CHANGELOG.md
Due: none

fix revisions
  fractal_server/migrations/versions/635d07f1ab55_add_historyunit_has_warnings.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/accounting.py
  fractal_server/migrations/versions/92ec661b7f76_add_ondelete_set_null.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

restore uv.lock
  uv.lock
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

all images has_warnings
  fractal_server/app/routes/api/v2/history.py
  fractal_server/images/models.py
  fractal_server/images/status_tools.py
Due: grep-for-devtools

enrich images with has_warnings
  fractal_server/images/status_tools.py
Due: grep-for-devtools

add has_warnings to runner's new images
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

fix some tests
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_dataset_images.py
  tests/v2/test_03_api/test_api_verify_image_types.py
  tests/v2/test_05_images/test_benchmark_helper_functions.py
  tests/v2/test_05_images/test_filters.py
  tests/v2/test_05_images/test_image_models.py
  tests/v2/test_09_history/test_history_api.py
Due: none

Revert "fix some tests"
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_dataset_images.py
  tests/v2/test_03_api/test_api_verify_image_types.py
  tests/v2/test_05_images/test_benchmark_helper_functions.py
  tests/v2/test_05_images/test_filters.py
  tests/v2/test_05_images/test_image_models.py
  tests/v2/test_09_history/test_history_api.py
Due: none

Revert "add has_warnings to runner's new images"
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

new model ImagePageWithWarnings
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/images/__init__.py
  fractal_server/images/models.py
Due: grep-for-devtools

refactor
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/images/__init__.py
  fractal_server/images/models.py
  fractal_server/images/status_tools.py
  fractal_server/images/warnings_tools.py
Due: grep-for-devtools

fix import
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

fix endpoint
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

`uv lock --upgrade`
  uv.lock
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  uv.lock
Due: none

update has_warnings in run_task_compound
  fractal_server/runner/v2/runner_functions.py
Due: grep-for-devtools

select less
  fractal_server/runner/v2/runner_functions.py
Due: grep-for-devtools

update in chunks
  fractal_server/runner/v2/db_tools.py
  fractal_server/runner/v2/runner_functions.py
Due: grep-for-devtools

coverage
  tests/v2/test_09_history/test_history_api.py
Due: none

coverage
  fractal_server/images/warnings_tools.py
  tests/v2/test_09_history/test_history_api.py
Due: grep-for-devtools

num_images_with_warnings -> has_warnings
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/schemas/v2/job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_07_full_workflow/common_functions.py
Due: grep-for-devtools

make version required in api
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/schemas/v2/task_collection.py
Due: grep-for-devtools

make version required in db schemas
  fractal_server/app/models/v2/task.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/d2c982acb174_make_version_required.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove `server_default`
  fractal_server/app/models/v2/task.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/d8b86005298f_remove_server_default.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix some tests
  tests/fixtures_factories.py
  tests/v2/test_01_schemas/test_task_collection.py
  tests/v2/test_01_schemas/test_unit_schemas_v2.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_task_group.py
Due: none

fix more tests
  scripts/client/client.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_lifecycle_utils.py
Due: none

More required versions
  fractal_server/app/schemas/v2/task_group.py
  tests/fixtures_tasks.py
Due: grep-for-devtools

More required versions
  fractal_server/tasks/v2/utils_background.py
  tests/fixtures_tasks.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_utils_background.py
Due: grep-for-devtools

Test split of migration alter-column step
  fractal_server/migrations/versions/d2c982acb174_make_version_required.py
Due: grep-for-devtools

Revert "Test split of migration alter-column step"
  fractal_server/migrations/versions/d2c982acb174_make_version_required.py
Due: grep-for-devtools

fix more tests
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none
