Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Add regex validator for slurm_accounts field
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_current_user.py
Due: grep-for-devtools

Increase coverage
  tests/v2/test_03_api/test_api_squeue.py
Due: none

Test fix
  tests/v2/test_03_api/test_api_squeue.py
Due: none

Use built-in pattern validator for slurm_accounts fields
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_current_user.py
Due: grep-for-devtools

Test squeue --accounts branch
  tests/v2/test_03_api/test_api_squeue.py
Due: none

fix tests
  tests/fixtures_factories.py
  tests/fixtures_server.py
  tests/fixtures_tasks.py
  tests/no_version/test_api_oauth.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_db.py
  tests/no_version/test_enum_comparison_in_sqlalchemy.py
  tests/no_version/test_unit_auth.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_dataset_images.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_03_api/test_unit_aux_functions.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_unit_db_tools.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_failures.py
  tests/v2/test_09_history/test_history_api.py
  tests/v2/test_09_history/test_unit_upsert.py
Due: none

remove redundant calls to mapped_column
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/models/security.py
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/models/v2/history.py
  fractal_server/app/models/v2/job.py
  fractal_server/app/models/v2/profile.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/resource.py
  fractal_server/app/models/v2/task.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/models/v2/workflow.py
  fractal_server/app/models/v2/workflow_template.py
  fractal_server/app/models/v2/workflowtask.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove Base.__init__
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix tests
  tests/fixtures_computational_settings.py
  tests/no_version/test_unit_lifespan.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

remove AutoString
  fractal_server/app/models/base.py
  fractal_server/migrations/sqltypes.py
  fractal_server/migrations/versions/034a469ec2eb_task_groups.py
  fractal_server/migrations/versions/091b01f51f88_add_usergroup_and_linkusergroup_table.py
  fractal_server/migrations/versions/0f916383c170_add_profile_pixi_cache_dir.py
  fractal_server/migrations/versions/19eca0dd47a9_user_settings_project_dir.py
  fractal_server/migrations/versions/1bf8785755f9_add_description_to_workflow_and_.py
  fractal_server/migrations/versions/4c308bcaea2b_add_task_args_schema_and_task_args_.py
  fractal_server/migrations/versions/50a13d6138fd_initial_schema.py
  fractal_server/migrations/versions/5bf02391cfef_v2.py
  fractal_server/migrations/versions/71eefd1dd202_add_slurm_accounts.py
  fractal_server/migrations/versions/7226c20dc233_add_workflowtemplate_table.py
  fractal_server/migrations/versions/83bc2ad3ffcc_2_17_0.py
  fractal_server/migrations/versions/8f79bd162e35_add_docs_info_and_docs_link_to_task_.py
  fractal_server/migrations/versions/981d588fe248_add_executor_error_log.py
  fractal_server/migrations/versions/9c5ae74c9b98_add_user_settings_table.py
  fractal_server/migrations/versions/b1e7f7a1ff71_task_group_for_pixi.py
  fractal_server/migrations/versions/c0448884a8e9_add_projectv2_description.py
  fractal_server/migrations/versions/d256a7379ab8_taskgroup_activity_and_venv_info_to_.py
  fractal_server/migrations/versions/fbce16ff4e47_new_history_items.py
  tests/no_version/test_user_manager.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Rewind ihb-develop tree to tag 2.24.1
  CHANGELOG.md
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
Due: none

Improve log message
  fractal_server/ssh/_fabric.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/ssh/_fabric.py
Due: grep-for-devtools

Update error message and squeue format
  fractal_server/app/routes/api/v2/job.py
  tests/v2/test_03_api/test_api_squeue.py
Due: grep-for-devtools

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

lock
  uv.lock
Due: none

bump version 2.24.1 -> 2.24.2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_current_user.py
  tests/v2/test_03_api/test_api_squeue.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Add `ty` option
  pyproject.toml
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
Due: none

Rewind ihb-develop tree to tag 2.24.2
  CHANGELOG.md
  fractal_server/__init__.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/schemas/user.py
  fractal_server/ssh/_fabric.py
  pyproject.toml
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
  tests/no_version/test_api_current_user.py
  tests/v2/test_03_api/test_api_squeue.py
  uv.lock
Due: grep-for-devtools

Enhance SLURM SSH runner with transient drop tolerance and retry logic for artifact fetching
  fractal_server/runner/executors/slurm_ssh/runner.py
Due: grep-for-devtools

docs in progress
  docs/internals/data_access.md
  example/run_fractal_server.sh
  fractal_server/app/routes/auth/viewer_paths.py
  pyproject.toml
  uv.lock
  zensical.toml
Due: grep-for-devtools

docs in progress
  docs/internals/data_access.md
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

docstring
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

docs
  docs/internals/data_access.md
Due: none

restore example script
  example/run_fractal_server.sh
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  docs/internals/data_access.md
  fractal_server/app/routes/auth/viewer_paths.py
  pyproject.toml
  uv.lock
  zensical.toml
Due: grep-for-devtools
