Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Prevent resource deletion if FK is in-place
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

Add check to PATCH-usergroup
  fractal_server/app/routes/auth/group.py
Due: grep-for-devtools

handle OpenIDConfigurationError
  fractal_server/app/routes/auth/oauth.py
Due: grep-for-devtools

simplify message [skip ci]
  fractal_server/app/routes/auth/oauth.py
Due: grep-for-devtools

move try/except
  fractal_server/app/routes/auth/oauth.py
Due: grep-for-devtools

raise RuntimeError in tests
  tests/no_version/test_api_oauth.py
Due: none

fix test
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

fix endpoint and test
  fractal_server/app/routes/auth/group.py
  tests/no_version/test_unit_schemas_no_version.py
Due: grep-for-devtools

Include `resource_id` in non-duplication-task-group-constraint aux functions
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  tests/fixtures_server_v2.py
Due: grep-for-devtools

Use IntegrityError rather than (cascade + custom checks)
  fractal_server/app/models/security.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/migrations/versions/8b4095ee6bfc_2_17_0.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove redundant usage of `_get_resource_and_profile_ids`
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

test OpenIDConfigurationError
  tests/no_version/test_api_oauth.py
Due: none

Improve cascade and test
  fractal_server/app/models/v2/profile.py
  fractal_server/migrations/versions/cc3d6e8abc44_2_17_0.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Introduce `verify_resource_and_user_group_match`
  fractal_server/app/routes/api/v2/_aux_verify_resource_and_user_group_match.py
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

verify token and test multiple email
  tests/no_version/test_api_oauth.py
Due: none

comment and docstring ref #2937
  tests/no_version/test_api_oauth.py
Due: none

docstring
  tests/no_version/test_api_oauth.py
Due: none

split try-except
  tests/no_version/test_api_oauth.py
Due: none

remove one try
  tests/no_version/test_api_oauth.py
Due: none

move group All to settings
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/security/__init__.py
  fractal_server/config/_main.py
  pyproject.toml
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_server.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
Due: grep-for-devtools

fix test
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

export FRACTAL_DEFAULT_GROUP_NAME=All in benchmarks and migrations
  .github/workflows/benchmarks.yaml
  .github/workflows/migrations.yml
Due: none

use Inject inside functions
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

change `_get_single_user_with_groups` and `_get_default_usergroup_id`
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

Revert "change `_get_single_user_with_groups` and `_get_default_usergroup_id`"
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/test_api_task.py
Due: none

Reapply "change `_get_single_user_with_groups` and `_get_default_usergroup_id`"
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

type hint for default_group_id
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Edit ondelete for resource/profile foreign keys
  fractal_server/app/models/security.py
  fractal_server/app/models/v2/profile.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/83bc2ad3ffcc_2_17_0.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Improve checks on DELETE-resource endpoint
  fractal_server/app/routes/admin/v2/resource.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Improve `ondelete` for resource/profile foreign keys (#2940)
  CHANGELOG.md
  fractal_server/app/models/security.py
  fractal_server/app/models/v2/profile.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/migrations/versions/83bc2ad3ffcc_2_17_0.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Avoid redundant `_get_resource_and_profile_ids` calls
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Add resource/profile validation in POST-task endpoint
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

make FRACTAL_DEFAULT_GROUP_NAME a Literal
  fractal_server/config/_main.py
Due: grep-for-devtools

fix tests
  tests/v2/test_03_api/test_api_task.py
Due: none

Fix tests
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none

make FRACTAL_DEFAULT_GROUP_NAME '| None'!
  fractal_server/config/_main.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
