Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Remove `GET /api/v2/task/`
  fractal_server/app/routes/api/v2/task.py
  tests/v2/test_03_api/test_api_task.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/admin/test_admin_task.py
Due: none

changelog
  CHANGELOG.md
Due: none

Bump fastapi
  pyproject.toml
  uv.lock
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Adapt to fastapi 0.137
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/login.py
  fractal_server/app/routes/auth/oauth.py
  fractal_server/app/routes/auth/register.py
  tests/no_version/test_unit_auth.py
Due: grep-for-devtools

Cleanup handling of token login endpoint
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/login.py
  fractal_server/app/routes/auth/router.py
Due: grep-for-devtools

Adapt test to fastapi 0.137
  tests/no_version/test_middleware.py
Due: none

get and update via sql
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Refactor
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

add lock for race condition
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Expand test
  tests/v2/test_03_api/admin/test_admin_task.py
Due: none

Comment
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/task.py
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/migrations/versions/daecd41f37da_add_taskv2_is_core.py
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

bump version 2.23.3 -> 2.23.4
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Rename function and fix test
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/login.py
  tests/no_version/test_unit_auth.py
Due: grep-for-devtools

docstrings
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

Comment
  tests/no_version/test_middleware.py
Due: none

structure of new command
  fractal_server/__main__.py
Due: grep-for-devtools

improve new command
  fractal_server/__main__.py
Due: grep-for-devtools

Bump fastapi
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Update tests/no_version/test_middleware.py
  tests/no_version/test_middleware.py
Due: none

fix sql query
  fractal_server/__main__.py
Due: grep-for-devtools

add order_by
  fractal_server/__main__.py
Due: grep-for-devtools

Review add-trailing-slash
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/oauth.py
  fractal_server/app/routes/auth/register.py
  tests/no_version/test_unit_auth.py
Due: grep-for-devtools

Review add-trailing-slash
  fractal_server/app/routes/auth/login.py
Due: grep-for-devtools

Fix typo
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/oauth.py
Due: grep-for-devtools

improve printing
  fractal_server/__main__.py
Due: grep-for-devtools

Fix usage of routers
  fractal_server/app/routes/auth/login.py
Due: grep-for-devtools

separator
  fractal_server/__main__.py
Due: grep-for-devtools

separator and timestamp format
  fractal_server/__main__.py
Due: grep-for-devtools

In-line and remove `_remove_login_route_in_place` function
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/login.py
  tests/no_version/test_unit_auth.py
Due: grep-for-devtools

docstring [skip ci]
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

Expand test
  tests/no_version/test_unit_auth.py
Due: none

print summary
  fractal_server/__main__.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
