Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Error message
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

Handle internal error for long password upon user creation (#3141)
  CHANGELOG.md
  fractal_server/app/security/__init__.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

add check
  fractal_server/app/routes/auth/current_user.py
Due: grep-for-devtools

test
  tests/no_version/test_api_current_user.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Error message
  fractal_server/app/routes/auth/current_user.py
  tests/no_version/test_api_current_user.py
Due: grep-for-devtools

Prevent guest users from self update (#3142)
  CHANGELOG.md
  fractal_server/app/routes/auth/current_user.py
  tests/no_version/test_api_current_user.py
Due: grep-for-devtools

drop `TaskV2.source` and `TaskImportLegacy`
  fractal_server/app/models/v2/task.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/dumps.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/schemas/v2/workflowtask.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

db revision
  fractal_server/migrations/versions/5fb08bf05b14_drop_taskv2_source.py
Due: grep-for-devtools

remove source from TaskMinimal and query function
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

remove query by source in tests
  tests/v2/test_03_api/admin/test_admin_others.py
Due: none

remove _get_task_by_source
  fractal_server/app/routes/api/v2/workflow_import.py
  tests/data/import_export/workflow-v2.json
  tests/data/import_export/workflow.json
Due: grep-for-devtools

remove source from tests
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

fix test
  tests/data/import_export/workflow-v2.json
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

remove useless arg
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

fix task factory
  tests/fixtures_factories.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

fix tests
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Drop support for `TaskV2.source` (#3147)
  CHANGELOG.md
  fractal_server/app/models/v2/task.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/dumps.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/schemas/v2/workflowtask.py
  fractal_server/migrations/versions/5fb08bf05b14_drop_taskv2_source.py
  tests/data/import_export/workflow-v2.json
  tests/data/import_export/workflow.json
  tests/fixtures_factories.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
  tests/v2/test_03_api/test_api_workflow_task.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

coverage
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

fix typo
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

Complete coverage of #3147 (#3148)
  CHANGELOG.md
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

forbid extras in task collection
  fractal_server/app/routes/api/v2/task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: grep-for-devtools

accept file as form key
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

new aux module for versions
  fractal_server/app/routes/aux/_versions.py
Due: grep-for-devtools

use aux function in workflow import
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

move _find_latest_version_or_422 to new module
  fractal_server/app/routes/api/v2/_aux_functions_task_lifecycle.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/aux/_versions.py
  tests/v2/test_03_api/test_unit_pypi_version.py
Due: grep-for-devtools

fix _find_latest_version_or_422
  fractal_server/app/routes/aux/_versions.py
Due: grep-for-devtools

previous implementation of _find_latest_version_or_422
  fractal_server/app/routes/aux/_versions.py
Due: grep-for-devtools

comment [skip ci]
  fractal_server/app/routes/aux/_versions.py
Due: grep-for-devtools

remove old function
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

simplify sorting key
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Revert "simplify sorting key"
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

fix use of _version_sort_key
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools
