Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

changelog [skip ci]
  CHANGELOG.md
Due: none

add unique constraint to TaskGroupActivityV2
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/migrations/versions/6d679918c883_add_unique_constraints_to_taskgroupv2_.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

changelog
  CHANGELOG.md
Due: none

fix tests
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_task_group.py
Due: none

unit test unique constraint on TaskGroupActivityV2
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

fix typo [skip ci]
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

add space
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

add -> one_or_none
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

move test
  tests/v2/test_02_models/test_taskgroup_constraints.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

Add unique-constraints to `TaskGroupV2` and `TaskGroupActivityV2` (#3185)
  CHANGELOG.md
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/migrations/versions/6d679918c883_add_unique_constraints_to_taskgroupv2_.py
  tests/fixtures_server.py
  tests/v2/test_02_models/test_taskgroup_constraints.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_task_group.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
  tests/v2/test_06_tasks_lifecycle/unit/test_verify_non_duplication_group_path.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

introduce WorkflowTemplate table
  fractal_server/app/models/v2/__init__.py
  fractal_server/app/models/v2/template.py
  fractal_server/app/models/v2/workflow.py
  fractal_server/migrations/versions/5b56c6ecb438_add_workflowtemplate_table.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

make template.data not nullable
  fractal_server/app/models/v2/template.py
  fractal_server/migrations/versions/59820266be0a_add_workflowtemplate_table.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

test template model
  tests/v2/test_02_models/test_model_template.py
Due: none

rename
  tests/v2/test_02_models/test_model_template.py
Due: none

add template_id to workflow dump schema
  fractal_server/app/schemas/v2/dumps.py
Due: grep-for-devtools

remove template_id from workflow dump
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/dumps.py
Due: grep-for-devtools

allow extra in workflow dump
  fractal_server/app/schemas/v2/dumps.py
Due: grep-for-devtools

revert exclude
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

mv model file
  fractal_server/app/models/v2/__init__.py
  fractal_server/app/models/v2/workflow_template.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add template schema file
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

get template endpoint draft
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

filter by query params
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

replace user_id with user_email in WorkflowTemplateRead
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

first api test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

fix test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

version query param is int
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

get single template endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

POST from existing workflow endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

basic test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

complete tests
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

patch and delete endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

aux function
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

user_group_id as query param in POST
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

new aux function
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
