Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

bump version 2.18.0a5 -> 2.18.0a6
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Add `sleep_after_srun` to SLURM config
  fractal_server/runner/config/_slurm.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
Due: grep-for-devtools

bump version 2.18.0a6 -> 2.18.0a7
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

use kwargs in MockCurrentUser
  tests/fixtures_server.py
Due: none

fix kwargs check
  tests/fixtures_server.py
Due: none

some fixes
  tests/fixtures_server.py
  tests/v2/test_03_api/test_api_workflow_task.py
Due: none

remove debug
  tests/fixtures_server.py
Due: none

fix test v2
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

fix test_get_profile_info
  tests/no_version/test_api_users.py
Due: none

Remove `sleep_after_run`, expose `shebang_line`
  fractal_server/runner/config/_slurm.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
Due: grep-for-devtools

bump version 2.18.0a7 -> 2.18.0a8
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add test
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

order by timestamp_started
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

revert 23ddb16 and fix test
  tests/no_version/test_api_users.py
Due: none

Use `bin/bash` in CI
  CHANGELOG.md
  tests/fixtures_computational_settings.py
Due: none

Sort response of `/admin/v2/task-group/activity` starting with the most recent activities (#3066)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/task_group.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

Expose `shebang_line` in SLURM configuration (#3064)
  CHANGELOG.md
  fractal_server/__init__.py
  fractal_server/runner/config/_slurm.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  pyproject.toml
  tests/fixtures_computational_settings.py
Due: grep-for-devtools

bump version 2.18.0a8 -> 2.18.0a9
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

test edge case
  tests/v2/test_03_api/test_api_sharing.py
Due: none

fix test edge case
  tests/v2/test_03_api/test_api_sharing.py
Due: none

remove where stmt
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

add where linkuserproject.is_verified.is_(True)
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

remove comment [skip ci]
  tests/v2/test_03_api/test_api_sharing.py
Due: none

fix test
  tests/no_version/test_api_viewer_paths.py
Due: none

Re-include owned projects in data-streaming-authorization endpoint (#3069)
  CHANGELOG.md
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/viewer_paths.py
  tests/no_version/test_api_viewer_paths.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

bump version 2.18.0a9 -> 2.18.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Docstring
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
