Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

remove data settings
  docs/configuration.md
  fractal_server/app/models/security.py
  fractal_server/app/routes/api/__init__.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/schemas/user_group.py
  fractal_server/config/__init__.py
  fractal_server/config/_data.py
  fractal_server/main.py
  scripts/client/client.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix tests
  tests/fixtures_server.py
  tests/no_version/test_alive.py
  tests/no_version/test_api_current_user.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_unit_config.py
  tests/no_version/test_unit_schemas_no_version.py
  tests/v2/test_03_api/test_api_dataset.py
Due: none

alembic revision
  fractal_server/migrations/versions/daa11beb3d09_remove_usergroup_viewer_paths.py
Due: grep-for-devtools

new validator for .. in Path.parts
  fractal_server/types/__init__.py
  fractal_server/types/validators/__init__.py
  fractal_server/types/validators/_common_validators.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

move endpoint to its own module
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/routes/auth/router.py
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

no -> not
  fractal_server/types/validators/_common_validators.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

move validator and test
  fractal_server/types/__init__.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

fix test
  tests/v2/test_04_runner/test_unit_aux_functions_v2.py
Due: none

bump version 2.18.0a1 -> 2.18.0a2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add logs to data migration script
  fractal_server/data_migrations/2_18_1.py
Due: grep-for-devtools

types docstrings
  fractal_server/types/__init__.py
Due: grep-for-devtools

test viewer paths
  fractal_server/app/routes/auth/viewer_paths.py
  tests/no_version/test_api_current_user.py
  tests/no_version/test_api_viewer_paths.py
Due: grep-for-devtools

unify migrations
  fractal_server/app/routes/auth/viewer_paths.py
  fractal_server/migrations/versions/7910eed4cf97_user_project_dirs_and_usergroup_viewer_.py
  fractal_server/migrations/versions/ca52947a4fe2_user_project_dirs_array.py
Due: grep-for-devtools

improve test
  tests/no_version/test_api_users.py
Due: none

min_lenght validator for project_dirs
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

test .. validator for patch dataset
  tests/v2/test_03_api/test_api_dataset.py
Due: none

fix test
  tests/no_version/test_api_viewer_paths.py
Due: none

comment about open issue
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

add middleware
  fractal_server/config/_main.py
  fractal_server/main.py
Due: grep-for-devtools

test
  fractal_server/app/routes/api/__init__.py
  fractal_server/config/_main.py
Due: grep-for-devtools

Revert "test"
  fractal_server/app/routes/api/__init__.py
  fractal_server/config/_main.py
Due: grep-for-devtools

optimize
  fractal_server/main.py
Due: grep-for-devtools

remove comment after feedback at #3026
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

module level logger
  fractal_server/main.py
Due: grep-for-devtools

use get_timestamp() for end_timestamp
  fractal_server/main.py
Due: grep-for-devtools

change separator
  fractal_server/main.py
Due: grep-for-devtools

move middleware outside of start_application
  fractal_server/main.py
Due: grep-for-devtools

middleware with class
  fractal_server/main.py
Due: grep-for-devtools

pure asgi
  fractal_server/main.py
Due: grep-for-devtools

milliseconds
  fractal_server/main.py
Due: grep-for-devtools

add status code to log
  fractal_server/main.py
Due: grep-for-devtools

if scope['type'] != 'http'
  fractal_server/main.py
Due: grep-for-devtools

test middleware
  tests/no_version/test_middleware.py
Due: none

reintroduce Lifespan in test and log query params
  fractal_server/main.py
  tests/no_version/test_middleware.py
Due: grep-for-devtools

module level MIDDLEWARE_DATETIME_FORMAT
  fractal_server/main.py
Due: grep-for-devtools

Set `caplog` level, to make the test pass also with `--log-cli-level info`
  tests/no_version/test_middleware.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
