Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

Include project-dir in init-db-data
  fractal_server/__main__.py
Due: grep-for-devtools

Include project-dir in init-db-data
  .github/workflows/benchmarks.yaml
  .github/workflows/oauth.yaml
  example/run_fractal_server.sh
  scripts/oauth/start_test_server_locally.sh
Due: none

migration
  fractal_server/migrations/versions/f67d750f2469_user_settings_review.py
Due: grep-for-devtools

Fix viewer-path branches
  fractal_server/app/routes/auth/current_user.py
Due: grep-for-devtools

test
  tests/no_version/test_api_current_user.py
Due: none

tests
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
Due: none

Comment a test
  tests/no_version/test_email.py
Due: none

test
  tests/no_version/test_init_db_data.py
Due: none

more tests
  tests/no_version/test_unit_auth.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_security.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_loss_of_access_to_task.py
Due: none

tests
  tests/no_version/test_unit_schemas_no_version.py
  tests/v2/test_03_api/test_api_dataset.py
Due: none

precommit
  tests/no_version/test_email.py
Due: none

benchmarks gha
  benchmarks/populate_db/populate_db_script.py
  scripts/merge-dbs/create_mock_db.py
Due: none

migrations
  fractal_server/migrations/versions/5845ee36c97f_user_settings_related.py
Due: grep-for-devtools

fix model
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix postgres array notation
  fractal_server/migrations/versions/f65ee53991e3_user_settings_related.py
Due: grep-for-devtools

fix postgres array notation
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix typo in schema default
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

test
  tests/no_version/test_unit_schemas_no_version.py
Due: none

./start_test_server_locally.sh
  scripts/oauth/start_test_server_locally.sh
Due: none

reset oauth.sh script
  scripts/oauth/README.md
  scripts/oauth/oauth.sh
Due: none

improve oauth gha
  scripts/oauth/README.md
  scripts/oauth/oauth.sh
  scripts/oauth/start_test_server_locally.sh
Due: none

Add env variable to gha
  .github/workflows/oauth.yaml
Due: none

docstring
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

refactor email-sending function
  fractal_server/app/security/__init__.py
  fractal_server/app/security/signup_email.py
Due: grep-for-devtools

fix unit email test
  tests/no_version/test_email.py
Due: none

Docstring
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

test
  tests/no_version/test_fixture_MockCurrentUser.py
Due: none

Make use of `user_cache_dir` homogeneous across SLURM backends (closes #2847)
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/config/__init__.py
  fractal_server/config/_main.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Adopt `user_cache_dir` in tests
  tests/no_version/test_api_current_user.py
  tests/v2/test_04_runner/test_unit_submit_workflow.py
  tests/v2/test_08_backends/test_base_slurm_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_squeue.py
  tests/v2/test_08_backends/test_slurm_sudo_check_versions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_exceptions.py
  tests/v2/test_08_backends/test_slurm_sudo_shutdown.py
Due: none

some more tests
  tests/v2/test_08_backends/test_slurm_sudo_runner_slurm_error.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_with_slurm_account.py
Due: none

test_user_manager
  tests/no_version/test_user_manager.py
Due: none

Remove skipped test
  tests/no_version/test_api_current_user.py
Due: none

clean up ssh folders in test
  tests/v2/test_08_backends/test_slurm_ssh_runner.py
Due: none

coverage
  tests/no_version/test_user_manager.py
Due: none

coverage (ref #1753)
  tests/v2/test_08_backends/test_slurm_config.py
Due: none

reorder arg with default
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Make `extra_lines` a non-optional list
  fractal_server/runner/config/_slurm.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  tests/v2/test_08_backends/test_slurm_config.py
Due: grep-for-devtools

Make user_local_exports a non-optional dict
  fractal_server/runner/config/_slurm.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  tests/v2/test_08_backends/test_slurm_config.py
Due: grep-for-devtools
