Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Re-introduce docs_info and docs_link in slim task-group responses
  fractal_server/app/schemas/v2/task.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.22.3 -> 2.22.4a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Include docs fields in response
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

bump version 2.22.4a0 -> 2.22.4a1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Fix test
  tests/v2/test_03_api/test_api_task_group.py
Due: none

bump version 2.22.4a1 -> 2.22.4
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Use `distict` rather than `unique` in `/current-user/allowed-viewer-paths/` database query
  fractal_server/app/routes/auth/viewer_paths.py
Due: grep-for-devtools

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Add zensical dependency
  pyproject.toml
  uv.lock
Due: none

Drop mkdocs dependencies
  pyproject.toml
  uv.lock
Due: none

reset pyproject
  pyproject.toml
  uv.lock
Due: none

lock
  uv.lock
Due: none

Vendor part of the swagger plugin
  MISSING.md
  docs/openapi.md
  mkdocs.yml
  pyproject.toml
Due: none

Another way to generate openapi docs - with fastapi
  docs/openapi2.html
  docs/scripts/generate_swagger_ui.py
Due: none

Clean up way to generate swagger UI
  docs/openapi.md
  docs/scripts/generate_swagger_ui.py
Due: none

remove obsolete file
  docs/openapi2.html
Due: none

Add logging to project-transfer endpoint
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

Add `AccountingRecordSlurm.fractal_job_id`
  fractal_server/app/models/v2/accounting.py
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/migrations/versions/0016fee8b597_add_accountingrecordslurm_fractal_job_id.py
  fractal_server/runner/executors/base_runner.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_fractal_examples.py
  tests/v2/test_04_runner/test_runner_failures.py
  tests/v2/test_08_backends/test_local_runner.py
  tests/v2/test_08_backends/test_slurm_sudo_check_versions.py
  uv.lock
Due: grep-for-devtools, grep-for-fractal-types-in-models

Add missing function kwarg
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

remove server filename
  fractal_server/app/routes/admin/v2/users_csv.py
Due: grep-for-devtools

reintroduce Content-Disposition
  fractal_server/app/routes/admin/v2/users_csv.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

Remove server users-info CSV filename (#3287)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/users_csv.py
Due: grep-for-devtools

Fix timezone-related test flakyness
  tests/v2/test_09_history/test_history_api.py
Due: none

Fix tests
  tests/v2/test_08_backends/aux_unit_runner.py
  tests/v2/test_08_backends/test_base_slurm_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_runner.py
  tests/v2/test_08_backends/test_slurm_ssh_squeue.py
  tests/v2/test_08_backends/test_slurm_sudo_runner.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_exceptions.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_slurm_error.py
  tests/v2/test_08_backends/test_slurm_sudo_runner_with_slurm_account.py
  tests/v2/test_08_backends/test_slurm_sudo_shutdown.py
Due: none

Test new branch
  tests/fixtures_factories.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
  tests/v2/test_08_backends/aux_unit_runner.py
Due: none

Rename and comment
  tests/fixtures_factories.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
Due: none

uv lock
  uv.lock
Due: none
