Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

add cmd line tools prerequisite
  docs/install_and_deploy.md
Due: none

UNIX tools [skip ci]
  docs/install_and_deploy.md
Due: none

drop check_historyrun_related_to_dataset_and_wftask
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

unique query
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

docstring to _read_single_file_from_zip
  fractal_server/app/routes/api/v2/_aux_functions_history.py
  fractal_server/zip_tools.py
Due: grep-for-devtools

Add shellcheck to precommit
  .pre-commit-config.yaml
  fractal_server/tasks/v2/templates/1_create_venv.sh
  fractal_server/tasks/v2/templates/2_pip_install.sh
  fractal_server/tasks/v2/templates/3_pip_freeze.sh
  fractal_server/tasks/v2/templates/4_pip_show.sh
  fractal_server/tasks/v2/templates/5_get_venv_size_and_file_number.sh
  fractal_server/tasks/v2/templates/6_pip_install_from_freeze.sh
  fractal_server/tasks/v2/templates/pixi_1_extract.sh
  fractal_server/tasks/v2/templates/pixi_2_install.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
  fractal_server/tasks/v2/utils_pixi.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

revert unrelated change
  tests/v2/test_06_tasks_lifecycle/unit/test_simplify_pyproject_toml.py
Due: none

revert unrelated change
  fractal_server/tasks/v2/utils_pixi.py
Due: grep-for-devtools

Add shellcheck to precommit (#2986)
  .pre-commit-config.yaml
  CHANGELOG.md
  fractal_server/tasks/v2/templates/1_create_venv.sh
  fractal_server/tasks/v2/templates/2_pip_install.sh
  fractal_server/tasks/v2/templates/3_pip_freeze.sh
  fractal_server/tasks/v2/templates/4_pip_show.sh
  fractal_server/tasks/v2/templates/5_get_venv_size_and_file_number.sh
  fractal_server/tasks/v2/templates/6_pip_install_from_freeze.sh
  fractal_server/tasks/v2/templates/pixi_1_extract.sh
  fractal_server/tasks/v2/templates/pixi_2_install.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
Due: grep-for-devtools

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

docstring to read_log_file
  fractal_server/app/routes/api/v2/_aux_functions_history.py
Due: grep-for-devtools

from wftask to task_name
  fractal_server/app/routes/api/v2/_aux_functions_history.py
  fractal_server/app/routes/api/v2/history.py
  tests/v2/test_09_history/test_unit_api_aux_functions.py
Due: grep-for-devtools

use os.path.normapth
  fractal_server/app/routes/api/v2/_aux_functions_history.py
Due: grep-for-devtools

remove error log for user
  fractal_server/app/routes/api/v2/_aux_functions_history.py
Due: grep-for-devtools

add indexes to history tables
  fractal_server/app/models/v2/history.py
  fractal_server/migrations/versions/40d6d6511b20_add_index_to_history_models.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

changelog [skip ci]
  CHANGELOG.md
Due: none

move checks into queries and raise only 404
  fractal_server/app/routes/api/v2/_aux_functions.py
Due: grep-for-devtools

fix test api
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_unit_aux_functions.py
Due: none

changelog
  CHANGELOG.md
Due: none

remove admin/v2/project/
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

remove api/v2/dataset/
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

remove api/v2/workflow/
  fractal_server/app/routes/api/v2/workflow.py
Due: grep-for-devtools

remove and fix test
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_workflow.py
Due: none

remove endpoints from benchmark
  benchmarks/api_bench.py
Due: none

Revert "remove endpoints from benchmark"
  benchmarks/api_bench.py
Due: none

call different endpoint
  benchmarks/api_bench.py
Due: none

replace obsolete endpoints in bench
  benchmarks/api_bench.py
Due: none

fix benchmarks
  benchmarks/api_bench.py
Due: none
