Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

uvloop
  benchmarks/serve.sh
  pyproject.toml
  uv.lock
Due: none

rename function 2
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/runner/v2/runner.py
  fractal_server/tasks/v2/utils_background.py
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_factories.py
  tests/no_version/test_init_db_data.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_04_runner/aux_get_dataset_attrs.py
  tests/v2/test_09_history/test_unit_upsert.py
Due: grep-for-devtools

test TypeAdapter serialization
  tests/no_version/test_unit_models_base.py
Due: none

test alias
  tests/no_version/test_unit_models_base.py
Due: none

`dump_model` and `dump_model_to_json` as standalone functions
  fractal_server/app/models/__init__.py
  fractal_server/app/models/base.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/runner/v2/runner.py
  fractal_server/tasks/v2/utils_background.py
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_computational_settings.py
  tests/fixtures_factories.py
  tests/no_version/test_init_db_data.py
  tests/no_version/test_unit_models_base.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_04_runner/aux_get_dataset_attrs.py
  tests/v2/test_09_history/test_unit_upsert.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Logging config
  example/run_fractal_server.sh
  fractal_server/gunicorn_fractal.py
  fractal_server/logger/__init__.py
  fractal_server/main.py
  tests/no_version/test_unit_config_uvicorn_loggers.py
Due: grep-for-devtools

Add engine disposal to lifespan
  fractal_server/main.py
Due: grep-for-devtools

remove uvloop
  benchmarks/serve.sh
  pyproject.toml
  uv.lock
Due: none

Add engine disposal during app teardwon
  fractal_server/main.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

python3.15
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/publish_github.yml
  pyproject.toml
  uv.lock
Due: none

test_lifespan_shutdown_local
  tests/no_version/test_unit_lifespan.py
Due: none

Provisionally include 3.15
  .github/workflows/ci.yml
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/main.py
  tests/no_version/test_unit_lifespan.py
Due: grep-for-devtools

use datetime.isoformat in tests
  tests/no_version/test_unit_models_base.py
Due: none

add json_serializer
  fractal_server/app/db/__init__.py
  tests/no_version/test_unit_models_base.py
Due: grep-for-devtools

debug uuid serialized
  tests/no_version/test_unit_models_base.py
Due: none

create TypeAdapter once
  fractal_server/app/db/__init__.py
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

lock
  uv.lock
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  uv.lock
Due: none

replace TypeAdapter
  fractal_server/app/db/__init__.py
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

test
  tests/no_version/test_unit_models_base.py
Due: none

benchmark json serializer
  .pre-commit-config.yaml
  benchmarks/bench_json_serializer.py
Due: none

Use CustomEncoder in benchmark
  benchmarks/bench_json_serializer.py
Due: none

use CustomEncoder
  benchmarks/bench_json_serializer.py
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove dump_model_to_json
  fractal_server/app/models/__init__.py
  fractal_server/app/models/base.py
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_factories.py
  tests/no_version/test_unit_models_base.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

move bench script
  benchmarks/json_serialization/bench_json_serializer.py
Due: none

review bench_json_serializer.py
  benchmarks/json_serialization/bench_json_serializer.py
Due: none

README - first version
  benchmarks/json_serialization/README.md
Due: none

Move custom json encoder and json_dumps to dedicated top-level module
  fractal_server/app/db/__init__.py
  fractal_server/app/models/base.py
  fractal_server/json_utils.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Rename `dump_model` to `orm_model_to_dict`
  fractal_server/app/models/__init__.py
  fractal_server/app/models/base.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/latest_job.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/runner/v2/runner.py
  fractal_server/tasks/v2/utils_background.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Rename `dump_model` to `orm_model_to_dict` - in tests
  tests/fixtures_computational_settings.py
  tests/fixtures_factories.py
  tests/no_version/test_init_db_data.py
  tests/no_version/test_unit_models_base.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_02_models/test_models_workflow.py
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_latest_job.py
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_04_runner/aux_get_dataset_attrs.py
  tests/v2/test_09_history/test_unit_upsert.py
Due: none

Rename `dump_model` to `orm_model_to_dict` - in scripts
  scripts/validate_db_data_with_read_schemas.py
Due: none

First version of `bench_orm_object_dump.py`
  benchmarks/json_serialization/README.md
  benchmarks/json_serialization/bench_orm_object_dump.py
Due: none

Prepare both sqlmodel/sqlalchemy scripts
  benchmarks/json_serialization/bench_orm_object_dump_sqlalchemy.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
Due: none

refactor benchmark
  benchmarks/json_serialization/README.md
  benchmarks/json_serialization/bench_orm_object_dump_sqlalchemy.py
  benchmarks/json_serialization/bench_orm_object_dump_sqlmodel.py
  benchmarks/json_serialization/utils_for_orm_dump.py
Due: none

README
  benchmarks/json_serialization/README.md
Due: none
