Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Bump lock
  uv.lock
Due: none

Bump paramiko
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

First implementation of PyPI/local endpoint
  fractal_server/app/routes/admin/v2/task_group_recollect.py
  fractal_server/app/schemas/v2/task_group.py
  fractal_server/tasks/v2/local/recollect.py
  fractal_server/tasks/v2/utils_background.py
Due: grep-for-devtools

Fix import
  fractal_server/tasks/v2/local/__init__.py
  fractal_server/tasks/v2/local/recollect.py
Due: grep-for-devtools

Use group by to avoid a loop
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

Change URL
  fractal_server/app/routes/admin/v2/task_group_recollect.py
Due: grep-for-devtools

test schema
  tests/v2/test_03_api/admin/test_unit_schemas.py
Due: none

Rename URL
  fractal_server/app/routes/admin/v2/task_group_recollect.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
Due: grep-for-devtools

Rename function
  fractal_server/app/routes/admin/v2/task_group_recollect.py
Due: grep-for-devtools

Add router
  fractal_server/app/routes/admin/v2/__init__.py
Due: grep-for-devtools

Small cleanups
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/admin/v2/task_group_recollect.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix test
  tests/no_version/test_middleware.py
Due: none

Introduce `rmtree_nofail` auxiliary function
  fractal_server/tasks/v2/local/_utils.py
Due: grep-for-devtools

Adopt `rmtree_nofail` auxiliary function
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate.py
  fractal_server/tasks/v2/local/reactivate_pixi.py
  fractal_server/tasks/v2/local/recollect.py
Due: grep-for-devtools

Docstring
  fractal_server/tasks/v2/local/_utils.py
Due: grep-for-devtools

Make test unit
  tests/v2/test_06_tasks_lifecycle/test_collect_local.py
  tests/v2/test_06_tasks_lifecycle/test_unit_rmtree_nofail.py
Due: none

Fix monkeypatching in test
  tests/v2/test_06_tasks_lifecycle/test_reactivate_local.py
Due: none

Rename into reset
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/schemas/v2/task_group.py
  fractal_server/config/_main.py
  fractal_server/tasks/v2/local/__init__.py
  fractal_server/tasks/v2/local/reset.py
  fractal_server/tasks/v2/utils_background.py
Due: grep-for-devtools

FRACTAL_ENABLE_TASK_GROUP_RESET
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/config/_main.py
Due: grep-for-devtools

Rename
  tests/no_version/test_middleware.py
  tests/v2/test_03_api/admin/test_unit_schemas.py
Due: none

Complete renaming
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

Typo
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

aux function
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/aux/_python_interpreter.py
Due: grep-for-devtools

422 handling
  fractal_server/app/routes/admin/v2/task_group_reset.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: grep-for-devtools

fix function call
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

tests/v2/test_03_api/test_unit_python_interpreter.py
  tests/v2/test_03_api/test_unit_python_interpreter.py
Due: none

Drop complex test
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_failures.py
Due: none

Simplify test
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none

Simplify 422 handling
  fractal_server/app/routes/admin/v2/task_group_reset.py
Due: grep-for-devtools

rename
  tests/v2/test_03_api/test_unit_python_interpreter_or_422.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.22.9 -> 2.22.10a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add task_statuses to latest-job endpoint
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/schemas/v2/job.py
Due: grep-for-devtools

Delete endpoint /project/{project_id}/status/
  fractal_server/app/routes/api/v2/history.py
Due: grep-for-devtools

Add `export PYTHONNOUSERSITE=1` for pixi python wrapper
  CHANGELOG.md
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
Due: grep-for-devtools

Support wheel-based packages
  fractal_server/app/routes/admin/v2/task_group_reset.py
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: grep-for-devtools

test package
  tests/data/testing-tasks-mock/.github/workflows/publish_to_pypi.yml
  tests/data/testing-tasks-mock/.gitignore
  tests/data/testing-tasks-mock/LICENSE
  tests/data/testing-tasks-mock/pyproject.toml
  tests/data/testing-tasks-mock/src/testing_tasks_mock/__FRACTAL_MANIFEST__.json
  tests/data/testing-tasks-mock/src/testing_tasks_mock/__init__.py
  tests/data/testing-tasks-mock/src/testing_tasks_mock/dev/task_list.py
  tests/data/testing-tasks-mock/src/testing_tasks_mock/generic_task.py
  tests/data/testing-tasks-mock/src/testing_tasks_mock/generic_task_parallel.py
Due: none

lock
  uv.lock
Due: none

Use lightweight test pkg
  tests/v2/test_03_api/admin/test_task_group_reset.py
Due: none
