Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

fix test 07
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_07_full_workflow/test_full_workflow_local.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_sudo.py
Due: none

test submit check
  tests/v2/test_03_api/test_api_job.py
Due: none

make TaskGroup.resource_id not nullable
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/d82bb7137b2d_taskgroup_resource_id_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add resource_id to fixture
  tests/fixtures_server_v2.py
Due: none

get resource_id from within task_factory_v2
  tests/fixtures_server_v2.py
Due: none

get resource_id from within project_factory_v2 and fractal_tasks_mock_db
  tests/fixtures_server_v2.py
  tests/fixtures_tasks_v2.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_loss_of_access_to_task.py
  tests/v2/test_03_api/test_submission_job_list_v2.py
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

add resource_id to TaskGroupCreateV2
  fractal_server/app/schemas/v2/task_group.py
Due: grep-for-devtools

fix project factory
  tests/fixtures_server_v2.py
Due: none

fix test api
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
Due: none

make resouce_id nullable again
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/d82bb7137b2d_taskgroup_resource_id_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Revert "make resouce_id nullable again"
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/d82bb7137b2d_taskgroup_resource_id_not_nullable.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix some tests not api
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/security/__init__.py
  tests/fixtures_server.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_unit_lifespan.py
  tests/v2/test_01_schemas/test_task_collection.py
  tests/v2/test_02_models/test_tasks_v2.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_collect_local.py
  tests/v2/test_06_tasks_lifecycle/test_collect_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_local.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
Due: grep-for-devtools

fix tests not api
  fractal_server/app/routes/api/v2/task_collection_custom.py
  tests/fixtures_server.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_local.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_reactivate_local.py
  tests/v2/test_06_tasks_lifecycle/test_unit_aux_functions_task_lifecycle.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_invalid_ssh.py
Due: grep-for-devtools

fix tests container
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_reactivate_ssh.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

add checks in get task enpoints
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

fix some test
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_api_job.py
Due: none

revert fixture change
  tests/v2/test_03_api/test_api_job.py
Due: none

style
  fractal_server/app/routes/api/v2/submit.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

Bump fastapi-users to v15
  poetry.lock
  pyproject.toml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

aux function
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

change taskgroup.resource_id in failing tests
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_sudo.py
Due: none

avoid returning empty list
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/test_api_task.py
Due: none

update testing db
  .github/workflows/migrations.yml
  tests/data/testing_databases/clean_db_fractal_2.11.0.sql
  tests/data/testing_databases/clean_db_fractal_2.16.0.sql
Due: none

use correct version
  .github/workflows/migrations.yml
  tests/data/testing_databases/clean_db_fractal_2.16.6.sql
Due: none

new schema TaskGroupReadSuperuser
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/task_group.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

add check to _get_task_full_access
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

bump version 2.17.0a4 -> 2.17.0a5
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update usage of model_validate
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

Add broken test for #2914
  tests/no_version/test_api_users.py
Due: none

Reject `project_dir=None` in PATCH-user
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

Prevent setting `slurm_accounts=None`
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
