Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

use matrix
  .github/workflows/migrations.yml
Due: none

Retroactively remove `ix_taskgroupv2_usergroup_unique_constraint` and `ix_taskgroupv2_user_unique_constraint` constraints
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/6d679918c883_add_unique_constraints_to_taskgroupv2_.py
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove redundant loop
  .github/workflows/migrations.yml
Due: none

Do not test postgres 15
  .github/workflows/migrations.yml
Due: none

titles
  .github/workflows/migrations.yml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

docs
  docs/internals/database.md
Due: none

drop comments
  fractal_server/migrations/versions/6d679918c883_add_unique_constraints_to_taskgroupv2_.py
Due: grep-for-devtools

Removed db.commit from _workflow_insert_task; Adapted unit tests
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflowtask.py
  tests/no_version/test_unit_lifespan.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_others.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_sharing.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_task.py
  tests/v2/test_03_api/test_api_workflow_template.py
  tests/v2/test_03_api/test_loss_of_access_to_task.py
  tests/v2/test_03_api/test_submission_job_list_v2.py
  tests/v2/test_04_runner/test_unit_submit_workflow.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
Due: grep-for-devtools

More test fixes
  benchmarks/populate_db/populate_db_script.py
  scripts/client/client.py
  scripts/db_performance/create_dbs.py
  scripts/merge-dbs/create_mock_db.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
  tests/v2/test_01_schemas/test_unit_schemas_v2.py
  tests/v2/test_07_full_workflow/common_functions.py
Due: none

Update GHAs
  .github/dependabot.yml
  .github/workflows/alembic_check.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
  .github/workflows/precommit.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/zizmor.yaml
Due: none

uv lock
  CHANGELOG.md
  uv.lock
Due: none

Simplify test
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

Do not run `basic_auth`-marked tests in `ci_py_next.yml`
  .github/workflows/ci_py_next.yml
Due: none

Update database.md
  docs/internals/database.md
Due: none

bump version 2.20.4 -> 2.20.5
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add GH_TOKEN env variable to GHA
  .github/workflows/benchmarks.yaml
Due: none

Expand docs-deploy permissions
  .github/workflows/documentation.yaml
Due: none

Minor change to task insertion logic and added unit tests for bulk task insertion
  fractal_server/app/routes/api/v2/workflowtask.py
  tests/v2/test_03_api/test_api_workflow_task.py
Due: grep-for-devtools

Refactor docs GHA into build/deploy jobs (ref #3259)
  .github/workflows/documentation.yaml
Due: none

Remove `--verbose` from `mkdocs build`
  .github/workflows/documentation.yaml
Due: none

Upload artifact
  .github/workflows/documentation.yaml
Due: none

cleanup docs GHA
  .github/workflows/documentation.yaml
Due: none

Set persist-credentials to true in GHA, due to stefanzweifel/git-auto-commit-action (ref #3259)
  .github/workflows/benchmarks.yaml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

bump version 2.20.5 -> 2.21.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools
