Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

fix gha (#3125)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

expire_on_commit=False for sync session maker
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

Revert "expire_on_commit=False for sync session maker"
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

reintroduce refresh
  fractal_server/app/routes/admin/v2/job.py
Due: grep-for-devtools

expunge_all
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

expunge in outer loop
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

expunge in inner loop
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

reduce diff [skip ci]
  fractal_server/app/routes/admin/v2/job.py
Due: grep-for-devtools

remove all db.close() in fractal_server/app/routes
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/workflow.py
Due: grep-for-devtools

remove db.close() in submit_workflow
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

remove needed db.close()
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

added support for s3
  CHANGELOG.md
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/types/__init__.py
  fractal_server/types/validators/__init__.py
  fractal_server/types/validators/_common_validators.py
  fractal_server/urls.py
  tests/no_version/test_unit_schemas_no_version.py
Due: grep-for-devtools

added support for s3
  tests/v2/test_04_runner/test_unit_aux_functions_v2.py
Due: none

Use default `autoflush` also for sync db session (#3119)
  CHANGELOG.md
  fractal_server/app/db/__init__.py
Due: grep-for-devtools

added support for s3
  CHANGELOG.md
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update task_group.py [skip ci]
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Prevent `StaleDataError` and clean up `db.close` statements (#3118)
  CHANGELOG.md
  example/run_fractal_server.sh
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/runner/v2/runner.py
  fractal_server/runner/v2/submit_workflow.py
  tests/v2/test_03_api/test_api_task_group.py
Due: grep-for-devtools

added support for s3
  fractal_server/urls.py
  tests/v2/test_05_images/test_image_models.py
Due: grep-for-devtools

precommit
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Require python3.12
  pyproject.toml
  uv.lock
Due: none

Update Python matrices in GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
Due: none

Introduce `@override` decorator
  fractal_server/app/routes/auth/oauth.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
Due: grep-for-devtools

Run 3.12 in PRs
  .github/workflows/ci.yml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update dependabot.yml (make frequency daily)
  .github/dependabot.yml
Due: none

add UserOAuth.is_guest
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/e53dc51fdf93_add_useroauth_is_guest.py
  tests/v2/test_02_models/test_model_useroauth.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Deprecate python3.11 (#3129)
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
  CHANGELOG.md
  fractal_server/app/routes/auth/oauth.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

add new get_api_user/guest functions
  fractal_server/app/routes/auth/__init__.py
Due: grep-for-devtools

replace current_user_act_ver_prof with get_api_user and get_api_guest
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/pre_submission_checks.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/routes/api/v2/status_legacy.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_version_update.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/routes/auth/__init__.py
Due: grep-for-devtools

tests
  tests/fixtures_server.py
  tests/no_version/test_current_user_act_ver_prof.py
Due: none

CHANGELOG
  CHANGELOG.md
Due: none
