Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

docs
  docs/internals/version_upgrades/index.md
  docs/internals/version_upgrades/upgrade_2_16_6_to_2_17_0.md
Due: none

Docstring mkdocs warnings
  fractal_server/config/_oauth.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/v2/submit_workflow.py
  fractal_server/ssh/_fabric.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/deactivate.py
  fractal_server/tasks/v2/ssh/delete.py
  fractal_server/tasks/v2/ssh/reactivate.py
Due: grep-for-devtools

rename mkdocs plugin option
  mkdocs.yml
Due: none

broken link
  docs/development.md
Due: none

Docstrings + remove `DatasetCreateV2.attribute_filters`
  fractal_server/app/schemas/v2/accounting.py
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

docstrings
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/types/__init__.py
Due: grep-for-devtools

docstring
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

mkdocs.yml
  mkdocs.yml
Due: none

docstring and JSON schema
  fractal_server/app/schemas/v2/manifest.py
  fractal_server/json_schemas/manifest_v2.json
Due: grep-for-devtools

docstrings
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Docstrings
  fractal_server/runner/config/_slurm.py
Due: grep-for-devtools

docs
  docs/internals/version_upgrades/upgrade_2_16_6_to_2_17_0.md
Due: none

Add `print`s to data-migration script
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

add settings endpoint [skip ci]
  docs/configuration.md
Due: none

Sort jobs starting from most recent
  fractal_server/app/routes/admin/v2/job.py
Due: grep-for-devtools

Add `task_type` query parameter
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_others.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_admin_others.py
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix job order in tests
  tests/v2/test_03_api/admin/test_admin_job.py
Due: none

Support local backend for data-migration script
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

Move import into function
  fractal_server/__main__.py
Due: grep-for-devtools

Prepare `.fractal_server.env.old` for data-migration test
  .github/workflows/migrations.yml
  tests/data/testing_databases/.fractal_server.env.old
Due: none

improve local-instance data migration
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

Improve error message
  fractal_server/tasks/config/_python.py
Due: grep-for-devtools

improve .env file for test
  tests/data/testing_databases/.fractal_server.env.old
Due: none

improve support and test for data-migration in local instance
  fractal_server/data_migrations/2_17_0.py
  tests/data/testing_databases/.fractal_server.env.old
Due: grep-for-devtools

Add project_dir into testing db
  tests/data/testing_databases/clean_db_fractal_2.16.6.sql
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Fix TODOs for 2.17.1
  fractal_server/app/models/security.py
  fractal_server/app/models/user_settings.py
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove import and add migration
  fractal_server/app/models/__init__.py
  fractal_server/migrations/versions/a3602625d772_2_17_1.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

validate assets in docs
  docs/assets/resource_and_profile/profile_local.json
  docs/assets/resource_and_profile/profile_ssh.json
  docs/assets/resource_and_profile/profile_sudo.json
  docs/assets/resource_and_profile/resource_local.json
  docs/assets/resource_and_profile/resource_ssh.json
  docs/assets/resource_and_profile/resource_sudo.json
  docs/validate_assets.py
  mkdocs.yml
Due: none

add env to docs building workflow
  .github/workflows/documentation.yaml
Due: none

move scripts in docs/scripts
  docs/scripts/gen_ref_pages.py
  docs/scripts/validate_assets.py
  mkdocs.yml
Due: none

Move commit after delete [close #2962]
  fractal_server/tasks/v2/local/delete.py
Due: grep-for-devtools

autogenerate fractalctl page
  docs/scripts/gen_ref_cli.py
  mkdocs.yml
Due: none
