Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

unit test
  tests/v2/test_03_api/test_unit_pypi_version.py
Due: none

changelog
  CHANGELOG.md
Due: none

Improved s3 url validation
  fractal_server/types/validators/_common_validators.py
  tests/no_version/test_unit_schemas_no_version.py
Due: grep-for-devtools

Improve definition of "latest version" in task-import (#3153)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/_aux_functions_task_lifecycle.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/aux/_versions.py
  tests/v2/test_03_api/test_unit_pypi_version.py
Due: grep-for-devtools

introduce flexible_version
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

unit test flexible_version
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

first version using json response
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

using exception handler
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/exceptions.py
  fractal_server/main.py
Due: grep-for-devtools

override repr
  fractal_server/exceptions.py
Due: grep-for-devtools

add exception handler to fixture
  tests/fixtures_server.py
Due: none

fix tests
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

log UnreachableBranchError and raise regular exception
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

new literals for TaskImportErrorData.error_reason
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

improve error_info
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

Add description to workflow and description and alias to workflow task
  fractal_server/app/models/v2/workflow.py
  fractal_server/app/models/v2/workflowtask.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/schemas/v2/dumps.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/app/schemas/v2/workflowtask.py
  fractal_server/migrations/versions/1bf8785755f9_add_description_to_workflow_and_.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_03_api/test_api_workflow_task.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove pre-commit from dependencies
  pyproject.toml
  uv.lock
Due: none

Minor improvement to workflow task patch endpoint
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

Update mkdocs watch config
  mkdocs.yml
Due: none

Update CONTRIBUTING.md, and use it in documentation
  CONTRIBUTING.md
  docs/development.md
Due: none

Expand PR checklist
  .github/pull_request_template.md
Due: none

Make script executable
  tools/run_oauth_tests.sh
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update contributing instructions (#3157)
  .github/pull_request_template.md
  CHANGELOG.md
  CONTRIBUTING.md
  docs/development.md
  mkdocs.yml
  pyproject.toml
  tools/run_oauth_tests.sh
  uv.lock
Due: none

Removed description from the workflow dump
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/dumps.py
Due: grep-for-devtools

Fix fixture and test
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_job.py
Due: none

Bump gunicorn to v24
  pyproject.toml
  uv.lock
Due: none

bump version 2.19.0a0 -> 2.19.0a1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Bump gunicorn to v24 (#3158)
  CHANGELOG.md
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

return info about all tasks
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/exceptions.py
Due: grep-for-devtools

change return values
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Changelog
  CHANGELOG.md
Due: none

bump version 2.19.0a1 -> 2.19.0a2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
