Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

in_use for all TaskGroupRead
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/schemas/v2/task_group.py
Due: grep-for-devtools

in_use filtering
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

always add in_use
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

fix migration
  scripts/validate_db_data_with_read_schemas.py
Due: none

wrap with select
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

test in_use filtering
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

changelog
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/models/v2/history.py
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/routes/aux/_python_interpreter.py
  fractal_server/app/schemas/v2/task_collection.py
  fractal_server/migrations/versions/d4027db95431_update_schema.py
  fractal_server/tasks/config/_python.py
  fractal_server/tasks/v2/utils_python_interpreter.py
  fractal_server/types/__init__.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove second return and fix docstring
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
Due: grep-for-devtools

merge maps
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

replace select(select) with limit(1)
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

add is_core to AvailableTask
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

fix test import
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

remove hardcoded ids
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

add sorted
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

add comment
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

order with sql
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Revert "order with sql"
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

use _version_sort_key
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

improve comment [skip ci]
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

test - and temporarly remove ordering
  fractal_server/app/routes/api/v2/workflow_import.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

reintroduce ordering
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

Refactor CLI module into subpackage
  fractal_server/__main__.py
  fractal_server/cli/__main__.py
  fractal_server/cli/_init_db_data.py
  fractal_server/cli/_openapi.py
  fractal_server/cli/_parser.py
  fractal_server/cli/_recent.py
  fractal_server/cli/_set_db.py
  fractal_server/cli/_start.py
  fractal_server/cli/_update_db_data.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Remove test of obsolete command
  tests/no_version/test_commands.py
Due: none

Fix cli entrypoint
  fractal_server/cli/__main__.py
Due: grep-for-devtools

match/case
  fractal_server/cli/__main__.py
Due: grep-for-devtools

type hint
  fractal_server/cli/__main__.py
Due: grep-for-devtools

Fix imports in tests
  tests/no_version/test_commands.py
  tests/no_version/test_init_db_data.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

more tests
  fractal_server/cli/_parser.py
  tests/no_version/test_commands.py
Due: grep-for-devtools

Imports
  fractal_server/cli/_update_db_data.py
Due: grep-for-devtools

stub
  fractal_server/cli/__main__.py
  fractal_server/cli/_parser.py
  fractal_server/cli/_sync_core_tasks.py
Due: grep-for-devtools

refactor tests
  tests/no_version/cli/test_openapi.py
  tests/no_version/cli/test_parser.py
  tests/no_version/cli/test_recent.py
  tests/no_version/cli/test_start.py
Due: none

Functions for handling lists
  fractal_server/cli/_sync_core_tasks.py
  tests/no_version/cli/test_sync_core_tasks.py
Due: grep-for-devtools

Simplify
  fractal_server/cli/_sync_core_tasks.py
Due: grep-for-devtools

Simplify
  fractal_server/cli/_sync_core_tasks.py
  tests/no_version/cli/test_sync_core_tasks.py
Due: grep-for-devtools

Refactor send-mail module
  fractal_server/app/security/__init__.py
  fractal_server/send_mail.py
  tests/no_version/test_email.py
Due: grep-for-devtools

First implementation and test
  fractal_server/cli/_sync_core_tasks.py
  tests/no_version/cli/test_sync_core_tasks.py
Due: grep-for-devtools
