Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

add error handling
  benchmarks/api_bench.py
Due: none

improve error message
  benchmarks/api_bench.py
Due: none

precommit
  benchmarks/api_bench.py
Due: none

messagge
  benchmarks/api_bench.py
Due: none

edit benchmark json
  benchmarks/bench.json
Due: none

provisionally edit link to benchmark data
  benchmarks/api_bench.py
Due: none

Revert "provisionally edit link to benchmark data"
  benchmarks/api_bench.py
Due: none

more logging
  benchmarks/api_bench.py
Due: none

only test dataset-heavy user for dataset endpoint;
  benchmarks/api_bench.py
Due: none

Drop benchmarks/runner
  .github/workflows/benchmarks.yaml
  CHANGELOG.md
  benchmarks/runner/README.md
  benchmarks/runner/benchmark_runner.py
  benchmarks/runner/mocks.py
  benchmarks/runner/profile_results
  benchmarks/runner/runner_benchmark.txt
Due: none

Update benchmarks (#2990)
  .github/workflows/benchmarks.yaml
  CHANGELOG.md
  benchmarks/api_bench.py
  benchmarks/bench.json
  benchmarks/runner/README.md
  benchmarks/runner/benchmark_runner.py
  benchmarks/runner/mocks.py
  benchmarks/runner/profile_results
  benchmarks/runner/runner_benchmark.txt
Due: none

update benchmarks
  benchmarks/api_bench.py
Due: none

remove project.user_list
  fractal_server/app/models/v2/project.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_server_v2.py
  tests/no_version/test_delete_user.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_unit_aux_functions.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

use onclause in join
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

fix delete
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/project.py
Due: grep-for-devtools

try single commit
  fractal_server/app/routes/api/v2/project.py
  tests/fixtures_server_v2.py
Due: grep-for-devtools

use flush
  fractal_server/app/routes/api/v2/project.py
  tests/fixtures_server_v2.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

ondelete cascade
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/migrations/versions/e0e717ae2f26_delete_linkuserproject_ondelete_project.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

onclause and optimization
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

remove db.close and test
  fractal_server/app/routes/api/v2/project.py
  tests/no_version/test_delete_user.py
Due: grep-for-devtools

actual optimization
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

add onclause for every join
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/images/status_tools.py
  scripts/validate_db_data_with_read_schemas.py
  tests/fixtures_server_v2.py
  tests/fixtures_tasks_v2.py
  tests/v2/test_03_api/test_api_project.py
  tests/v2/test_03_api/test_api_workflow.py
  tests/v2/test_04_runner/test_dummy_examples.py
Due: grep-for-devtools

add ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

add select to tool.ruff.lint
  pyproject.toml
Due: none

test import reordering
  fractal_server/app/models/v2/dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Revert "test import reordering"
  fractal_server/app/models/v2/dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

force single line
  pyproject.toml
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
