Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

tasks should be readable by the project owner, or 422
  fractal_server/app/routes/api/v2/workflowtask.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

Update workflowtask.py
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

Update test_api_sharing.py
  tests/v2/test_03_api/test_api_sharing.py
Due: none

improve task test
  tests/v2/test_03_api/test_api_sharing.py
Due: none

changelog
  CHANGELOG.md
Due: none

bump version 2.17.2 -> 2.18.0a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

coverage
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

reproduce error ref #3022
  tests/v2/test_03_api/test_api_sharing.py
Due: none

fix subquery
  fractal_server/app/routes/api/v2/sharing.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/test_api_sharing.py
Due: none

add pagination to /activity/ endpoint
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

add pagination to query_task_group_list
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

manually add task_list to return
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

fix tests
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Do not cast to `PaginationResponse[X]` in endpoint return
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.18.0a0 -> 2.18.0a1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Project-sharing models&API and access control
  .github/workflows/ci.yml
  fractal_server/__init__.py
  fractal_server/app/models/linkuserproject.py
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_history.py
  fractal_server/app/routes/api/v2/_aux_functions_sharing.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/pre_submission_checks.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/routes/api/v2/status_legacy.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task_version_update.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/sharing.py
  fractal_server/migrations/versions/bc0e8b3327a7_project_sharing.py
  pyproject.toml
  tests/fixtures_server_v2.py
  tests/v2/test_02_models/test_models_project_share.py
  tests/v2/test_03_api/admin/test_admin_linkuserproject.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_sharing.py
  tests/v2/test_03_api/test_unit_aux_functions.py
  tests/v2/test_09_history/test_unit_api_aux_functions.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

allow guest to add private tasks
  fractal_server/app/routes/api/v2/workflowtask.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

Update CHANGELOG for project sharing (closes #3028)
  CHANGELOG.md
Due: none

allow guest to add private tasks (#3029)
  fractal_server/app/routes/api/v2/workflowtask.py
  tests/v2/test_03_api/test_api_sharing.py
Due: grep-for-devtools

introduce project_dirs
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/309b6c111827_user_project_dirs_array.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add nullable=False
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/f47af2f8c1f0_user_project_dirs_array.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

data migration script to 2.18.1 witout logs
  fractal_server/data_migrations/2_18_1.py
Due: grep-for-devtools

change user schemas
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

change project_dir in fractal_server/
  fractal_server/__main__.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/security/__init__.py
  fractal_server/config/_data.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
Due: grep-for-devtools

make project_dir nullable
  fractal_server/app/models/security.py
  fractal_server/migrations/versions/ca52947a4fe2_user_project_dirs_array.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

benchmarks
  benchmarks/populate_db/populate_db_script.py
Due: none

changes in tests
  tests/fixtures_server.py
  tests/fixtures_server_v2.py
  tests/no_version/test_api_current_user.py
  tests/no_version/test_api_oauth.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
  tests/no_version/test_db.py
  tests/no_version/test_unit_schemas_no_version.py
  tests/no_version/test_user_manager.py
  tests/v2/test_02_models/test_models_project_share.py
  tests/v2/test_02_models/test_tasks_v2.py
  tests/v2/test_03_api/admin/test_admin_linkuserproject.py
  tests/v2/test_03_api/admin/test_impersonate.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_sharing.py
  tests/v2/test_03_api/test_get_task_group_read_access.py
  tests/v2/test_03_api/test_loss_of_access_to_task.py
  tests/v2/test_03_api/test_unit_aux_functions_tasks.py
  tests/v2/test_06_tasks_lifecycle/unit/test_user_profile.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_sudo.py
Due: none

fix typo
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

impose constraint on zarr_dirr ref #3025
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

add query param include_shared_projects to get_current_user_allowed_viewer_paths ref #3027
  fractal_server/app/routes/auth/current_user.py
Due: grep-for-devtools

add `ssh` to docs
  docs/install_and_deploy.md
Due: none

docs about postgres version
  docs/internals/database.md
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
