Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

remove and replace `_make_task_not_core_bulk`
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

remove and replace `_make_task_core_bulk`
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

require non-empty list
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/types/__init__.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

fix typo and test
  fractal_server/app/routes/admin/v2/task_group.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

add non-duplication check constraint
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

add lock
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

test
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

remove unused message
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

Support make entire task-group core (#3387)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/main.py
  fractal_server/types/__init__.py
  tests/v2/test_03_api/admin/test_admin_task.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/_aux_functions_core_tasks.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/main.py
  fractal_server/types/__init__.py
  tests/v2/test_03_api/admin/test_admin_task.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

dependencies
  pyproject.toml
  uv.lock
Due: none

Bump `ty` in GHA
  .github/workflows/precommit.yml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update bench.html & bench.json
  .github/workflows/precommit.yml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

changelog
  CHANGELOG.md
Due: none

bump version 2.23.7 -> 2.24.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

raise 422 if status not submitted
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/aux/_job.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

test
  tests/v2/test_03_api/test_api_job.py
Due: none

stderr=subprocess.DEVNULL
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/aux/_job.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/runner/v2/db_tools.py
Due: grep-for-devtools

Remove empty file
  fractal_server/config/_data.py
Due: grep-for-devtools

Simplify `HistoryUnit.has_warnings` schema
  fractal_server/app/models/v2/history.py
  fractal_server/migrations/versions/d4027db95431_update_schema.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Improve `Query` typing
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

Introduce `PythonVersion` type
  fractal_server/app/schemas/v2/task_collection.py
  fractal_server/tasks/config/_python.py
  fractal_server/types/__init__.py
Due: grep-for-devtools

More PythonVersion usage
  fractal_server/app/routes/admin/v2/task_group_reset.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/aux/_python_interpreter.py
  fractal_server/tasks/v2/utils_python_interpreter.py
Due: grep-for-devtools

style
  fractal_server/migrations/versions/d4027db95431_update_schema.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
