Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

import-export endpoints
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

workflow_template -> template
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

import-from-template endpoint
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

simplify WorkflowTemplate table
  fractal_server/app/models/v2/workflow_template.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

aux functions templates module
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

split into import-export schemas
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow_template.py
Due: grep-for-devtools

access control in get single template endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

access contro in get template list endpoint
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

cast data to WorkflowExport
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test import-from-template
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

run ci on pull towards 3144-make-workflow-import-more-flexible TO REVERT
  .github/workflows/alembic_check.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
  .github/workflows/precommit.yml
Due: none

import WorkflowReadWithWarnings
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

rename aux function and authorize guest to GET endpoints
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

add sorting
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test sorting
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

reintroduce extra=forbid for WorkflowDump
  fractal_server/app/schemas/v2/dumps.py
Due: grep-for-devtools

Introduce flexible version matching in workflow-import (#3154)
  CHANGELOG.md
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/exceptions.py
  fractal_server/main.py
  tests/fixtures_server.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.19.4 -> 2.20.0a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Revert "run ci on pull towards 3144-make-workflow-import-more-flexible"
  .github/workflows/alembic_check.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/pip_install.yml
  .github/workflows/precommit.yml
Due: none

add return model
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

exclude template_id
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_factories.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

_get_template_or_404
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
Due: grep-for-devtools

docstrings
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
Due: grep-for-devtools

move function up, assign, docstring
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

use subquery
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

new aux function _create_workflow_export
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

test PATCH with None
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

order_by version.desc()
  fractal_server/app/routes/api/v2/workflow_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

new template_id query parameter
  fractal_server/app/routes/api/v2/workflow_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

new TemplatePage response model
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools
