Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Style
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

Bump poetry lock
  poetry.lock
Due: none

Rename hint
  fractal_server/app/routes/api/v2/_aux_functions.py
Due: grep-for-devtools

Add `prevent_new_submission` for resources
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/1be9f71472cf_add_prevent_new_submission.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Set default to false
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Add default
  fractal_server/app/models/v2/resource.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

typo
  fractal_server/app/models/v2/resource.py
  fractal_server/migrations/versions/1be9f71472cf_add_prevent_new_submissions.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Use prevent-new-submissions
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

add check in patch user endpoint
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

test
  tests/no_version/test_api_users.py
Due: none

restrict query result
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

use fastapi status
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

one submitted job per dataset
  fractal_server/app/models/v2/job.py
  fractal_server/migrations/versions/f0702066b007_one_submitted_job_per_dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

test
  tests/v2/test_02_models/test_model_job.py
Due: none

test dataset_id=None case
  tests/v2/test_02_models/test_model_job.py
Due: none

remove legacy checks
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/status_legacy.py
Due: grep-for-devtools

fix or remove tests
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_status_legacy.py
Due: none

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

fix test not api
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

test patch
  tests/v2/test_02_models/test_model_job.py
Due: none

fix typo [skip ci]
  tests/v2/test_02_models/test_model_job.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Add unique index for submitted jobs (#3044)
  CHANGELOG.md
  fractal_server/app/models/v2/job.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/status_legacy.py
  fractal_server/migrations/versions/f0702066b007_one_submitted_job_per_dataset.py
  tests/v2/test_02_models/test_model_job.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/test_api_history.py
  tests/v2/test_03_api/test_status_legacy.py
  tests/v2/test_04_runner/test_dummy_examples.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

aux function
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/users.py
Due: grep-for-devtools

rename
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

migration
  fractal_server/migrations/versions/88270f589c9b_add_prevent_new_submissions.py
Due: grep-for-devtools

Remove fixme
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

Add `db.refresh`
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

docstring and comment
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

all kwargs in aux function
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

Fix tests
  tests/v2/test_04_runner/test_dummy_examples.py
Due: none

Try downgrading psycopg to 3.2
  poetry.lock
  pyproject.toml
Due: none

Revert "Try downgrading psycopg to 3.2"
  poetry.lock
  pyproject.toml
Due: none
