Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

test
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

improve test
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: none

Bump gunicorn
  pyproject.toml
  uv.lock
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

Let an admin filter a task group list get request by `task_group_id` (#3305)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/task_group.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
Due: grep-for-devtools

write txt files
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
Due: grep-for-devtools

test non-pixi cases
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
Due: none

test pixi
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
Due: none

hardcode TASK_GROUP_ID_FILENAME
  fractal_server/tasks/utils.py
  fractal_server/tasks/v2/local/collect.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
Due: grep-for-devtools

use fractal_ssh.write_remote_file
  fractal_server/tasks/v2/ssh/collect.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
Due: grep-for-devtools

remove unused constants
  fractal_server/tasks/utils.py
Due: grep-for-devtools

test bug
  tests/v2/test_06_tasks_lifecycle/test_deactivate_local.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
Due: none

fix bug
  fractal_server/tasks/v2/utils_background.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

fix tests
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
Due: none

add DatasetV2.is_pinned
  fractal_server/app/models/v2/dataset.py
  fractal_server/migrations/versions/3e3ccea2f3ec_add_dataset_is_pinned.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add DatasetRead.is_pinned
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

fix DatasetReadExpanded docstring
  fractal_server/app/schemas/v2/dataset.py
Due: grep-for-devtools

pin/unpin endpoints
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

fix endpoints
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

test endpoints
  tests/v2/test_03_api/test_api_dataset.py
Due: none

order pinned datasets first
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/test_api_dataset.py
Due: none

datasets-per-project are order by asc timestamp_created
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

fix test
  tests/v2/test_01_schemas/test_schemas_dataset.py
Due: none

Fix `task_group.active` property after deactivation failure (#3310)
  CHANGELOG.md
  fractal_server/tasks/v2/utils_background.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_local.py
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
Due: grep-for-devtools

pin -> star
  fractal_server/app/models/v2/dataset.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/migrations/versions/3e3ccea2f3ec_add_dataset_is_pinned.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix typo
  tests/v2/test_03_api/test_api_dataset.py
Due: none

PATCH -> POST
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

bump version 2.22.9a0 -> 2.22.9
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

do not return dataset
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

do not handle edge cases
  fractal_server/app/routes/api/v2/dataset.py
  tests/v2/test_03_api/test_api_dataset.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
