Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

support new name in import from template
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

Add more logging (ref #3208)
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
Due: grep-for-devtools

`Self` type hints
  CHANGELOG.md
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
Due: grep-for-devtools

Always create a `AccountingRecordSlurm` entry in `multisubmit`
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  tests/v2/test_03_api/admin/test_admin_accounting.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Assign job-name for SLURM-based pixi task lifecycle actions
  fractal_server/tasks/v2/ssh/_pixi_slurm_ssh.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
  tests/v2/test_06_tasks_lifecycle/test_unit_aux_functions_pixi_ssh_slurm.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

add template_id to WorkflowRead
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

add WorkflowTemplate.fractal_server_version ref #3213
  fractal_server/app/models/v2/workflow_template.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/workflow_template.py
  fractal_server/migrations/versions/7226c20dc233_add_workflowtemplate_table.py
  tests/v2/test_02_models/test_model_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

rephrase error message without user_id
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

try-except around _write_shutdown_file
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/test_api_job.py
Due: none

changelog
  CHANGELOG.md
Due: none

forbid template with empty task list ref #3198
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

fix tests
  fractal_server/app/routes/api/v2/workflow_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

return user_email with taskgroups
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/schemas/v2/task_group.py
Due: grep-for-devtools

bump version 2.20.0a0 -> 2.20.0a1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

stash
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

aux function
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/aux/_job.py
Due: grep-for-devtools

fix some endpoint
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
Due: grep-for-devtools

fix test api
  tests/v2/test_03_api/test_api_task_group.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

fix migration
  scripts/validate_db_data_with_read_schemas.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

introduce WorkflowImportFromTemplate.override_versions
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

add TaskAvailable.older
  fractal_server/app/routes/api/v2/workflow_import.py
  uv.lock
Due: grep-for-devtools

fix and improve test_export_import_template
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

fix test_import_flexibility
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

coverage
  fractal_server/app/routes/api/v2/workflow_import.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

handle non homogeneous attribute values
  fractal_server/images/tools.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/test_api_dataset_images.py
Due: none

added workflow test with s3 url
  tests/v2/fractal_tasks_mock/dist/fractal_tasks_mock-0.0.1-py3-none-any.whl
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/__FRACTAL_MANIFEST__.json
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dev/task_list.py
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dummy_converter_compound_s3.py
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/dummy_converter_s3.py
  tests/v2/test_04_runner/test_fractal_examples.py
Due: none
