Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

admin project endpoint
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

mark test as xfail
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: none

assert status code
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

patch endpoint draft
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

complete patch endpoint
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

handle more cases in the endpoint
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

reactivate and fix test
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: none

coverage
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: none

add ids to messages
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

improve resource compatibility check
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

use url_is_relative_to
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

always execute delete
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

test
  fractal_server/app/routes/admin/v2/project.py
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: grep-for-devtools

return with no body
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

simplify and improve test
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: none

unify test files
  tests/v2/test_03_api/admin/test_admin_project.py
  tests/v2/test_03_api/admin/test_transfer_project_ownership.py
Due: none

test bug
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

solve bug
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

test same bug on count stm
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

fix bug
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

improve test
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

change error message
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

changelog [skip ci]
  CHANGELOG.md
Due: none

add resources names to error message
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

add quotes
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

unique resource name and forbid guest ownership
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

get all profiles and resources
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

fix test
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

Handle `PIXI_CACHE_DIR` as a replaceable variable
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate_pixi.py
  fractal_server/tasks/v2/templates/pixi_2_install.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
Due: grep-for-devtools

Add `pixi_cache_dir` to profiles
  fractal_server/app/models/v2/profile.py
  fractal_server/app/schemas/v2/profile.py
  fractal_server/migrations/versions/0f916383c170_add_profile_pixi_cache_dir.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Use `profile.pixi_cache_dir` for lifecycle
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate_pixi.py
Due: grep-for-devtools

docs/tests
  docs/assets/resource_and_profile/snippet.md
  tests/fixtures_computational_settings.py
Due: none

refactor [skip ci]
  CHANGELOG.md
Due: none

docs
  docs/assets/resource_and_profile/profile_ssh.json
Due: none

Update profile.py
  fractal_server/app/models/v2/profile.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Add logs
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate_pixi.py
Due: grep-for-devtools

Update dependencies and lock
  pyproject.toml
  uv.lock
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
