Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports
    rev: 'v3.15.0'
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0'
    hooks:
    - id: flake8
      args: ["--ignore=E203,W503,E226"]
-   repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: fractal_server/

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

add tests oauth to ci
  .github/workflows/ci.yml
Due: none

add new marker
  .github/workflows/ci.yml
  pyproject.toml
  tests/no_version/test_api_oauth.py
Due: none

exclude marker oauth
  .github/workflows/ci.yml
Due: none

exclude py3.12 in test oauth
  .github/workflows/ci.yml
Due: none

fix double marker exclusion
  .github/workflows/ci.yml
Due: none

TO REVERT only run tests_oauth
  .github/workflows/ci.yml
Due: none

Combine schema migrations
  fractal_server/migrations/versions/90f6508c6379_drop_useroauth_username.py
  fractal_server/migrations/versions/ba7aca5247ad_v2_17.py
  fractal_server/migrations/versions/f65ee53991e3_user_settings_related.py
Due: grep-for-devtools

Review constraint names
  fractal_server/app/models/v2/resource.py
  fractal_server/migrations/versions/6b3922b2a0ee_v2_17.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix naming convention for db constraints
  fractal_server/migrations/naming_convention.py
Due: grep-for-devtools

rename
  fractal_server/migrations/versions/21fd2bde21bb_v2_17.py
Due: grep-for-devtools

move 2.14.10 data-migration script to `old`
  fractal_server/data_migrations/old/2_14_10.py
Due: grep-for-devtools

restore some 2.16 models for data migration
  fractal_server/app/models/security.py
  fractal_server/app/models/user_settings.py
  fractal_server/migrations/versions/204d4791d1cc_v2_17.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix assertion in test
  tests/v2/test_02_models/test_resource_model.py
Due: none

First data-migration script version
  .gitignore
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

login with oauth in test
  tests/no_version/test_api_oauth.py
Due: none

improve test
  .github/workflows/ci.yml
  tests/no_version/test_api_oauth.py
Due: none

Revert "TO REVERT"
  .github/workflows/ci.yml
Due: none

test email content
  tests/no_version/test_api_oauth.py
Due: none

remove oauth workflow
  .github/workflows/oauth.yaml
  scripts/oauth/README.md
  scripts/oauth/docker-compose.yaml
  scripts/oauth/oauth.sh
  tests/no_version/test_api_oauth.py
Due: none

docstring [skip ci]
  tests/no_version/test_api_oauth.py
Due: none

rename functions and define url variables
  tests/no_version/test_api_oauth.py
Due: none

drop docker compose version
  scripts/oauth/docker-compose.yaml
Due: none

drop urlparse
  tests/no_version/test_api_oauth.py
Due: none

do not test all email msg
  tests/no_version/test_api_oauth.py
Due: none

remove fractal_server/data_migrations/2_17_0.py
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

Update 204d4791d1cc_v2_17.py
  fractal_server/migrations/versions/204d4791d1cc_v2_17.py
Due: grep-for-devtools

Clean up migrations (#2931)
  .gitignore
  CHANGELOG.md
  fractal_server/app/models/security.py
  fractal_server/app/models/user_settings.py
  fractal_server/app/models/v2/resource.py
  fractal_server/data_migrations/old/2_14_10.py
  fractal_server/migrations/naming_convention.py
  fractal_server/migrations/versions/204d4791d1cc_v2_17.py
  fractal_server/migrations/versions/90f6508c6379_drop_useroauth_username.py
  fractal_server/migrations/versions/f65ee53991e3_user_settings_related.py
  tests/v2/test_02_models/test_resource_model.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Data-migration first commit
  fractal_server/data_migrations/2_17_0.py
Due: grep-for-devtools

empty docs
  docs/internals/version_upgrades/upgrade_2_16_6_to_2_17_0.md
Due: none

Add `UserGroup.resource_id` and update corresponding schemas
  fractal_server/app/models/security.py
  fractal_server/app/schemas/user_group.py
  fractal_server/migrations/versions/5db229e467bf_v2_17_0.py
Due: grep-for-devtools, grep-for-fractal-types-in-models
