Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

CHANGELOG
  CHANGELOG.md
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

poetry.lock
  poetry.lock
Due: none

comment [skip ci]
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

bump version 2.16.5 -> 2.16.6
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Revert all non-resource-type-related changes
  fractal_server/app/routes/api/v2/workflowtask.py
  fractal_server/app/routes/auth/oauth.py
  fractal_server/runner/executors/local/get_local_config.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/v2/runner.py
  fractal_server/runner/v2/runner_functions.py
Due: grep-for-devtools

Revert all non-resource-type-related changes
  fractal_server/__main__.py
Due: grep-for-devtools

Revert all non-resource-type-related changes
  fractal_server/runner/executors/base_runner.py
Due: grep-for-devtools

Drop unreachable branches
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

rever unrelated changes
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

Drop redundant check and exported variable
  fractal_server/runner/v2/submit_workflow.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

Remove redundant local/remote-folder variable assignment
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Drop redundant exception-handling block
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

comment [skip ci]
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Fix test
  tests/v2/test_04_runner/test_unit_submit_workflow.py
Due: none

FIXMEs and comments
  fractal_server/app/models/v2/resource.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Review GET/PUT/DELETE profile endpoints and resource-of-profile
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/routes/admin/v2/resource_of_profile.py
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

coverage
  tests/v2/test_08_backends/test_unit_slurm_mem_to_MB.py
Due: none

coverage
  tests/v2/test_03_api/admin/test_admin_profile.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_unit_bash_scripts.py
  tests/v2/test_06_tasks_lifecycle/unit/test_user_profile.py
Due: none

ValidationError -> ValueError
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Better way of copying local-config model
  fractal_server/runner/executors/local/get_local_config.py
Due: grep-for-devtools

coverage
  tests/v2/test_03_api/admin/test_unit_schemas.py
  tests/v2/test_08_backends/test_local_config.py
Due: none

Comments
  fractal_server/config/_email.py
  fractal_server/config/_main.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

review tasks python configuration
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/a80ac5a352bf_resource_profile.py
  fractal_server/tasks/config/__init__.py
  fractal_server/tasks/config/_python.py
  tests/no_version/test_unit_config.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

remove FIXMEs
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
Due: grep-for-devtools

fix test
  tests/v2/test_06_tasks_lifecycle/test_unit_bash_scripts.py
Due: none

Clean up test_lifecycle
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
Due: none

Improve logs
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Fix typo
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

FIXMEs
  fractal_server/runner/executors/slurm_sudo/runner.py
Due: grep-for-devtools

improve settings fixtures
  tests/fixtures_server.py
Due: none

FIXMEs in tests
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
Due: none

drop log [skip ci]
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Improve runner type hints
  fractal_server/runner/executors/base_runner.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_common/slurm_job_task_models.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/v2/runner_functions.py
  fractal_server/runner/versions.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
