Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

fix node/python typo in GHA
  .github/workflows/publish_github.yml
Due: none

bump version 2.24.3a4 -> 2.24.3a5
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Fix pylock-file name
  .github/workflows/publish_github.yml
Due: none

bump version 2.24.3a5 -> 2.24.3a6
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Fix GHA matrix
  .github/workflows/publish_github.yml
Due: none

bump version 2.24.3a6 -> 2.24.3a7
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Fix wheel path
  .github/workflows/publish_github.yml
Due: none

bump version 2.24.3a7 -> 2.24.3a8
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  fractal_server/runner/executors/slurm_common/_batching.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  pyproject.toml
  tests/v2/test_08_backends/test_slurm_batching.py
  tests/v2/test_08_backends/test_slurm_config.py
Due: grep-for-devtools

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.24.3a8 -> 2.24.3a9
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

bump lock
  uv.lock
Due: none

bump version 2.24.3a9 -> 2.24.3
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  .github/workflows/publish_github.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  scripts/pre-bumpver.sh
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  .github/workflows/alembic_check.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/ci_py_next.yml
  .github/workflows/documentation.yaml
  .github/workflows/migrations.yml
  .github/workflows/precommit.yml
  .github/workflows/publish_github.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/uv_audit.yaml
  .github/workflows/zizmor.yaml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Revert "Add `network: host` to build options in docker compose"
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
Due: none

Drop `network: host` from CI docker-compose files
  CHANGELOG.md
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Bump zensical to 0.0.57 and bump uv lock
  pyproject.toml
  uv.lock
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

use fastapi-users-db-sqlalchemy
  .pre-commit-config.yaml
  fractal_server/app/db/__init__.py
  fractal_server/app/models/base.py
  fractal_server/app/models/security.py
  fractal_server/app/security/__init__.py
  fractal_server/cli/_recent.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools, grep-for-fractal-types-in-models

fastapi-users with sqlalchemy extra
  pyproject.toml
  uv.lock
Due: none

pydantic.TypeAdapter in place of pydantic_core
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

use sqlalchemy.inspect
  fractal_server/app/models/base.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

bump version 2.24.3 -> 2.24.4a0
  fractal_server/__init__.py
  pyproject.toml
  uv.lock
Due: grep-for-devtools

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  tests/data/slurm_docker_images/docker-compose_3_11.yml
  tests/data/slurm_docker_images/docker-compose_3_12.yml
  tests/data/slurm_docker_images/docker-compose_3_13.yml
  tests/data/slurm_docker_images/docker-compose_3_14.yml
Due: none

Bump lock
  uv.lock
Due: none

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  uv.lock
Due: none

rename functions
  fractal_server/app/models/base.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/routes/auth/group.py
  fractal_server/runner/v2/runner.py
  tests/fixtures_computational_settings.py
  tests/v2/test_01_schemas/test_schemas_dataset.py
  tests/v2/test_01_schemas/test_schemas_workflow.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Drop uvicorn-worker dependency
  pyproject.toml
  uv.lock
Due: none

Replace worker with guniconr asgi one
  benchmarks/serve.sh
  example/run_fractal_server.sh
  fractal_server/gunicorn_fractal.py
Due: grep-for-devtools

fix test
  tests/no_version/cli/test_start.py
Due: none
