Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

lock
  uv.lock
Due: none

bump version 2.19.3a0 -> 2.19.3
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

test import response
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

add unique constraints to task group and remove aux functions
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/migrations/versions/75e08c5da996_add_unique_constraint_to_task_groups.py
  tests/v2/test_06_tasks_lifecycle/unit/test_verify_non_duplication_group_path.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix fixtures
  tests/fixtures_factories.py
Due: none

fix some tests
  tests/v2/test_03_api/test_api_task.py
  tests/v2/test_03_api/test_api_task_group.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
Due: none

add where statement in index
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/5294b61d7d41_add_unique_constraint_to_task_groups.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add indexes and simplify check functions
  fractal_server/app/models/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/migrations/versions/e8450ebe0634_add_unique_constraints_to_taskgroupv2.py
  tests/v2/test_06_tasks_lifecycle/unit/test_verify_non_duplication_group_path.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix typo
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/e8450ebe0634_add_unique_constraints_to_taskgroupv2.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Update workflowtask.py / drop obsolete comment
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

context manager
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  fractal_server/app/routes/api/v2/task_collection.py
Due: grep-for-devtools

fix tests
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

simplify condition
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

use context manager in endpoints
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

add logger [skip ci]
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

rename test [skip ci]
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

unit test new indexes
  tests/fixtures_server.py
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

changelog
  CHANGELOG.md
Due: none

docstring
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

do not use db-users outside of their context
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

add match arg to pytest.raises
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

small fix
  tests/v2/test_02_models/test_taskgroup_constraints.py
Due: none

remove unused fixture
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

Try to refresh SSH connection upon `paramiko.ssh_exception.SSHException`
  fractal_server/ssh/_fabric.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Bump lock
  uv.lock
Due: none

bump fastapi
  pyproject.toml
  uv.lock
Due: none

bump sqlmodel
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump version 2.19.3 -> 2.19.4
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

reintroduce assertions in test
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
