Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

add is_core to TaskReadSlim
  fractal_server/app/schemas/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Fix broken merge
  fractal_server/app/models/v2/task.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix migration history
  fractal_server/migrations/versions/daecd41f37da_add_taskv2_is_core.py
Due: grep-for-devtools

precommit gha
  .github/workflows/precommit.yml
Due: none

Fix version in GHA
  .github/workflows/precommit.yml
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Remove GHA step
  .github/workflows/precommit.yml
Due: none

add is_core to _SLIM_TASK_FIELDS and fix test
  fractal_server/app/routes/api/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Bump jinja2
  pyproject.toml
  uv.lock
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

add is_core to admin endpoint
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

make endpoints bulk
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

test bulk endpoints
  tests/v2/test_03_api/admin/test_admin_task.py
Due: none

Update bench.html & bench.json
  .github/workflows/precommit.yml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

use ListUniqueNonNegativeInt
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Bump lock
  uv.lock
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.23.2 -> 2.23.3
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update bench.html & bench.json
  benchmarks/bench.html
  benchmarks/bench.json
  uv.lock
Due: none

Update bench.html & bench.json
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

add limit-1
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
Due: grep-for-devtools

define error message
  fractal_server/app/routes/api/v2/_aux_functions_tasks.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

remove only_core for user
  fractal_server/app/routes/api/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

check with just one commit
  fractal_server/app/routes/admin/v2/task.py
  tests/v2/test_03_api/admin/test_admin_task.py
Due: grep-for-devtools

Add uv audit GHA
  .github/workflows/uv_audit.yaml
Due: none

Require `starlette>=1.3.1`
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

change frequency
  .github/workflows/uv_audit.yaml
Due: none

Update bench.html & bench.json
  .github/workflows/uv_audit.yaml
  CHANGELOG.md
  benchmarks/bench.html
  benchmarks/bench.json
  pyproject.toml
  uv.lock
Due: none

Make `uv audit` verbose
  .github/workflows/uv_audit.yaml
Due: none

Update bench.html & bench.json
  .github/workflows/uv_audit.yaml
  benchmarks/bench.html
  benchmarks/bench.json
Due: none

Remove `category`, `modality` and `author` query parameters of `GET /api/v2/task/`
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools
