Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

fix db revision
  fractal_server/migrations/versions/db7d18dc890c_example.py
Due: grep-for-devtools

mv script
  example/example.py
Due: none

Add comment and expand test
  fractal_server/app/routes/auth/_aux_auth.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

Revert test diff
  example/example.py
  fractal_server/app/models/v2/__init__.py
  fractal_server/app/models/v2/example.py
  fractal_server/migrations/versions/db7d18dc890c_example.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Fix startswith-related edge case in `PATCH /users/{user_id}/`
  fractal_server/app/routes/auth/_aux_auth.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
  uv.lock
Due: none

Review usage of `startswith` in `project_dirs` patching (#3270)
  CHANGELOG.md
  fractal_server/app/routes/auth/_aux_auth.py
  tests/no_version/test_api_users.py
  uv.lock
Due: grep-for-devtools

Introduce `excluded_task_fields`
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Implement `?slim=true` branch and add `TaskGroupReadSlim` class
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/task.py
  fractal_server/app/schemas/v2/task_group.py
  tests/v2/test_03_api/test_api_task_group.py
Due: grep-for-devtools

Fix response model
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Add `name` and `input_types` to `included_task_fields`
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Revert style change
  fractal_server/app/routes/admin/v2/task_group.py
Due: grep-for-devtools

Bump pytest
  pyproject.toml
  uv.lock
Due: none

Add name and input_types to TaskReadSlim
  fractal_server/app/schemas/v2/task.py
Due: grep-for-devtools

Remove `args_schema` query parameter from `GET /api/v2/task-group/`
  CHANGELOG.md
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_task_group.py
Due: grep-for-devtools

Simplify endpoint
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Update dataset.py / remove obsolete comment
  fractal_server/app/routes/api/v2/dataset.py
Due: grep-for-devtools

Fix authors field not populated with slim=true
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Improve type hints for endpoint functions
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/images.py
  fractal_server/app/routes/api/v2/job.py
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/sharing.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_version_update.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/api/v2/workflowtask.py
Due: grep-for-devtools

Use `JobV2.user_email` to count jobs-per-user
  fractal_server/app/routes/admin/v2/users_csv.py
  tests/v2/test_03_api/admin/test_users_csv.py
Due: grep-for-devtools

Fix type
  fractal_server/app/routes/api/v2/task_version_update.py
Due: grep-for-devtools

Remove blanket `# type: ignore`
  fractal_server/app/routes/admin/v2/impersonate.py
  fractal_server/app/routes/auth/__init__.py
  fractal_server/app/security/__init__.py
Due: grep-for-devtools

More typing improvements
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
Due: grep-for-devtools

Fix delete-task-group-endpoints type hints
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
Due: grep-for-devtools

Use slim parameter instead of args_schema parameter in GET /api/v2/task/
  CHANGELOG.md
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_group.py
  tests/v2/test_03_api/test_api_task.py
Due: grep-for-devtools

check project name
  fractal_server/app/routes/admin/v2/project.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

Improve type hint
  fractal_server/app/routes/api/v2/task.py
Due: grep-for-devtools

bump version 2.22.3a0 -> 2.22.3
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools
