Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

Fix `test_reactivate_ssh.py`
  tests/v2/test_06_tasks_lifecycle/test_reactivate_ssh.py
Due: none

typo
  tests/v2/test_06_tasks_lifecycle/test_reactivate_ssh.py
Due: none

test_06_tasks_lifecycle
  tests/v2/test_06_tasks_lifecycle/test_deactivate_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_reactivate_ssh.py
Due: none

Make column names more homogeneous
  fractal_server/__main__.py
  fractal_server/app/models/v2/resource.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/60771b110f78_add_resource_and_profile.py
  tests/fixtures_computational_settings.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_failures.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

rename columns - ref #2820
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/60771b110f78_add_resource_and_profile.py
  fractal_server/runner/executors/local/get_local_config.py
  fractal_server/runner/executors/local/runner.py
  fractal_server/runner/executors/slurm_common/get_slurm_config.py
  fractal_server/runner/executors/slurm_common/slurm_config.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
  tests/fixtures_computational_settings.py
  tests/v2/test_04_runner/test_unit_submit_workflow.py
  tests/v2/test_08_backends/test_local_runner.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

introduce ResourceType class
  fractal_server/app/routes/admin/v2/task_group_lifecycle.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/app/routes/api/v2/task_group_lifecycle.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

don't need `.value`
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

add constraint to resource table
  fractal_server/app/models/v2/resource.py
  fractal_server/migrations/versions/c7e5a5b8f6a1_add_constraint_to_resource_table.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

test constraints
  fractal_server/app/models/v2/resource.py
  tests/v2/test_02_models/test_resource_model.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

change constraint name
  fractal_server/app/models/v2/resource.py
  tests/v2/test_02_models/test_resource_model.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

replace "local"
  fractal_server/__main__.py
  fractal_server/config/_main.py
  tests/fixtures_computational_settings.py
  tests/no_version/test_unit_config.py
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
  tests/v2/test_07_full_workflow/test_full_workflow_local.py
Due: grep-for-devtools

replace "slurm_ssh" and some "slurm_sudo"
  fractal_server/app/routes/aux/_runner.py
  fractal_server/app/routes/aux/validate_user_settings.py
  fractal_server/main.py
  tests/fixtures_computational_settings.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_03_api/admin/test_admin_job.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_custom.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
Due: grep-for-devtools

bump poetry lock
  poetry.lock
Due: none

solve circular import
  fractal_server/config/_main.py
Due: grep-for-devtools

replace "slurm_sudo"
  tests/fixtures_computational_settings.py
  tests/no_version/test_fixtures_settings_factory.py
  tests/no_version/test_unit_lifespan.py
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_sudo.py
Due: none

introduce aux function ref #2810
  fractal_server/app/routes/aux/validate_user_profile.py
Due: grep-for-devtools

fix return type hint
  fractal_server/app/routes/aux/validate_user_profile.py
Due: grep-for-devtools

add resource_id optional fk to project and task_group
  fractal_server/app/models/v2/project.py
  fractal_server/app/models/v2/task_group.py
  fractal_server/migrations/versions/ced1c324de56_add_resource_id_fk_to_project_and_task_.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

move aux function
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/aux/validate_user_profile.py
Due: grep-for-devtools

add resource_id to new projects and taskgroups
  fractal_server/app/routes/api/v2/project.py
  fractal_server/app/routes/api/v2/task.py
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

exclude resource_id from project dump
  fractal_server/app/routes/api/v2/submit.py
  tests/fixtures_server_v2.py
  tests/v2/test_03_api/test_api_job.py
Due: grep-for-devtools

on profile delete, set user fk to null ref #2837
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix validation of TaskGroupCreateV2
  fractal_server/app/routes/api/v2/task_collection.py
  fractal_server/app/routes/api/v2/task_collection_custom.py
  tests/fixtures_tasks_v2.py
Due: grep-for-devtools

fix migrations
  fractal_server/migrations/versions/8ce0d43ced54_resource_constraints_and_fk.py
  fractal_server/migrations/versions/c7e5a5b8f6a1_add_constraint_to_resource_table.py
Due: grep-for-devtools

stash
  fractal_server/__main__.py
Due: grep-for-devtools

Fix fixture
  tests/fixtures_tasks_v2.py
Due: none

Use SLURM_CONFIG in fixture
  tests/fixtures_computational_settings.py
Due: none

Update aux function
  fractal_server/app/routes/api/v2/_aux_functions.py
  tests/v2/test_03_api/test_unit_aux_functions.py
Due: grep-for-devtools

resource admin api
  fractal_server/app/models/v2/resource.py
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/cb7fe4a87355_nullable_jobs_poll_interval.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

fix include_router
  fractal_server/app/routes/admin/v2/__init__.py
Due: grep-for-devtools

clean up example
  example/.fractal_server.env
Due: none

Revert "clean up example"
  example/.fractal_server.env
Due: none

fix fixture
  tests/fixtures_computational_settings.py
Due: none

Add one more check in post-resource endpoint
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

`test_admin_resource.py`
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

PATCH resource
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools

add resource/profile aux functions
  fractal_server/app/schemas/v2/profile.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
