Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

coverage
  tests/v2/test_03_api/admin/test_admin_project.py
Due: none

test encapsulation
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

fix typo [skip ci]
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

Expose "transfer project ownership" endpoint (for admins only) (#3261)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/project.py
  tests/v2/test_03_api/admin/test_admin_project.py
Due: grep-for-devtools

replace straightforward cases
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

fix typo
  fractal_server/app/routes/admin/v2/task.py
Due: grep-for-devtools

get_pagination_data aux function
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

rename, typing and split
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

docstrings
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

basic example
  example.py
  fractal_server/app/models/v2/__init__.py
  fractal_server/app/models/v2/example.py
  fractal_server/migrations/versions/db7d18dc890c_example.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Expose `PIXI_CACHE_DIR` (#3266)
  CHANGELOG.md
  docs/assets/resource_and_profile/profile_ssh.json
  docs/assets/resource_and_profile/snippet.md
  fractal_server/app/models/v2/profile.py
  fractal_server/app/schemas/v2/profile.py
  fractal_server/migrations/versions/0f916383c170_add_profile_pixi_cache_dir.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/local/reactivate_pixi.py
  fractal_server/tasks/v2/templates/pixi_2_install.sh
  fractal_server/tasks/v2/templates/pixi_3_post_install.sh
  tests/fixtures_computational_settings.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

return tuple and docstring
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

Args blocks
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

more cases [skip ci]
  example.py
Due: none

remove typing from docstrings
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

Introduce more pagination aux functions (#3268)
  CHANGELOG.md
  fractal_server/app/routes/admin/v2/accounting.py
  fractal_server/app/routes/admin/v2/job.py
  fractal_server/app/routes/admin/v2/project.py
  fractal_server/app/routes/admin/v2/sharing.py
  fractal_server/app/routes/admin/v2/task.py
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/history.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/routes/pagination.py
Due: grep-for-devtools

lock
  uv.lock
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

bump version 2.21.0 -> 2.22.0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add __PIXI_CACHE_DIR__ replacement for slurm_ssh
  fractal_server/tasks/v2/ssh/collect_pixi.py
  fractal_server/tasks/v2/ssh/reactivate_pixi.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

bump version 2.22.0 -> 2.22.1
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add test
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
Due: none

bump version 2.22.1 -> 2.22.2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Adopt `fractal-task-tools` 0.5.0 prerelease in `fractal-tasks-mock`
  tests/v2/fractal_tasks_mock/dist/fractal_tasks_mock-0.0.1-py3-none-any.whl
  tests/v2/fractal_tasks_mock/pyproject.toml
  tests/v2/fractal_tasks_mock/src/fractal_tasks_mock/__FRACTAL_MANIFEST__.json
Due: none

Implement main db query for `GET /admin/v2/users-csv/`
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/users_csv.py
  tests/v2/test_03_api/admin/test_users_csv.py
Due: grep-for-devtools

Implement streaming of csv file
  fractal_server/app/routes/admin/v2/users_csv.py
  tests/v2/test_03_api/admin/test_users_csv.py
Due: grep-for-devtools

Cleanup
  fractal_server/app/routes/admin/v2/users_csv.py
  tests/v2/test_03_api/admin/test_users_csv.py
Due: grep-for-devtools

bump version 2.22.2 -> 2.22.3a0
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
