Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

add resource/profile aux functions
  fractal_server/app/routes/admin/v2/resource.py
  fractal_server/app/routes/aux/validate_user_profile.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

Handle non-unique names in PATCH
  fractal_server/app/routes/admin/v2/resource.py
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: grep-for-devtools

profile api
  fractal_server/app/routes/admin/v2/__init__.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/profile.py
Due: grep-for-devtools

revert making job-poll-interval nullable
  fractal_server/app/models/v2/resource.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/cb7fe4a87355_nullable_jobs_poll_interval.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

add type to schema
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

assign resource_id in post-profile
  fractal_server/app/routes/admin/v2/profile.py
Due: grep-for-devtools

forbid extras for create/update resource/profile
  fractal_server/app/schemas/v2/profile.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

error message
  fractal_server/app/routes/admin/v2/profile.py
Due: grep-for-devtools

profile aux functions
  fractal_server/app/routes/admin/v2/_aux_functions.py
  fractal_server/app/routes/admin/v2/profile.py
Due: grep-for-devtools

`test_admin_profile.py`
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

fix test
  tests/v2/test_02_models/test_resource_model.py
Due: none

fix typo in test
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

use validate_profile
  fractal_server/app/routes/admin/v2/profile.py
Due: grep-for-devtools

test delete
  tests/v2/test_03_api/admin/test_admin_profile.py
Due: none

add delete test
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

fix test
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

use _get_resource_or_404 in resource api
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

improve resource/profile schemas
  fractal_server/app/schemas/v2/profile.py
  fractal_server/app/schemas/v2/resource.py
Due: grep-for-devtools

`test_validate_resource`
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

patch user's profile_id
  fractal_server/app/routes/auth/users.py
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

add profile_id to UserRead
  fractal_server/app/models/security.py
  fractal_server/app/schemas/user.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

test patch
  tests/no_version/test_api_users.py
Due: none

Add jobs_poll_interval
  fractal_server/__main__.py
Due: grep-for-devtools

update benchmarks to use profiles
  benchmarks/populate_db/populate_db_script.py
  scripts/client/client.py
Due: none

update benchmarks to use profiles
  scripts/client/client.py
Due: none

update benchmarks to use profiles
  fractal_server/__main__.py
Due: grep-for-devtools

Update CLI signature of `init-db-data`
  .github/workflows/benchmarks.yaml
  .github/workflows/oauth.yaml
  example/run_fractal_server.sh
  fractal_server/__main__.py
Due: grep-for-devtools

improve `init-db-data`
  fractal_server/__main__.py
Due: grep-for-devtools

fix CLI help message
  fractal_server/__main__.py
Due: grep-for-devtools

add profile_id to UserCreate
  fractal_server/app/schemas/user.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

Set and use `cache_dir` for both SLURM backends
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/runner/executors/slurm_common/base_slurm_runner.py
  fractal_server/runner/executors/slurm_ssh/runner.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/submit_workflow.py
  fractal_server/tasks/config/_pixi.py
Due: grep-for-devtools

add required profile name
  fractal_server/app/models/v2/profile.py
  fractal_server/app/routes/admin/v2/profile.py
  fractal_server/app/schemas/v2/profile.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

avoid redundant folder definition
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/runner/executors/slurm_sudo/runner.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

add migration
  fractal_server/migrations/versions/74e9b7fd1945_add_profile_name.py
Due: grep-for-devtools

add name in fixtures
  tests/fixtures_computational_settings.py
Due: none

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
