Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

made test ( "not container and not oauth") also pass on a mac
  tests/no_version/test_email.py
  tests/no_version/test_middleware.py
  tests/no_version/test_unit_subprocess_run_or_raise.py
  tests/v2/test_00_ssh/test_compress_extract.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_08_backends/test_call_command_wrapper.py
  tests/v2/test_09_history/test_history_api.py
Due: none

encapsulated path processing to make them s3 aware
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/auth/_aux_auth.py
  fractal_server/app/schemas/v2/dataset.py
  fractal_server/urls.py
  tests/no_version/test_unit_urls.py
Due: grep-for-devtools

changelog
  CHANGELOG.md
Due: none

remove unused logger
  fractal_server/app/routes/api/v2/job.py
Due: grep-for-devtools

change warning message
  fractal_server/images/tools.py
Due: grep-for-devtools

fix typo
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

docstring
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
Due: grep-for-devtools

new serialize_task_group_with_email aux function
  fractal_server/app/routes/admin/v2/task_group.py
  fractal_server/app/routes/api/v2/_aux_task_group_disambiguation.py
  fractal_server/app/routes/api/v2/task_group.py
Due: grep-for-devtools

Fix test
  tests/v2/test_03_api/test_api_dataset_images.py
Due: none

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Bump uv lock
  uv.lock
Due: none

Fix env variable in example
  example/.fractal_server.env
Due: none

workflow_templates -> workflow-template
  fractal_server/app/routes/api/v2/workflow_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

docstring
  fractal_server/app/models/v2/workflow_template.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

timestamp_last_used mandatory
  fractal_server/app/schemas/v2/workflow_template.py
  fractal_server/migrations/versions/7226c20dc233_add_workflowtemplate_table.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

docstring
  fractal_server/app/routes/api/v2/_aux_functions.py
Due: grep-for-devtools

older -> older_than_target
  fractal_server/app/routes/api/v2/workflow_import.py
Due: grep-for-devtools

defaults to None
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

fractal_server_version not in import and export
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/workflow_template.py
  tests/v2/test_02_models/test_model_template.py
  tests/v2/test_03_api/test_api_workflow_template.py
Due: grep-for-devtools

Update workflow_template.py
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

Fix test
  tests/v2/test_03_api/test_api_workflow_import_export.py
Due: none

Remove redundant `model_dump`
  fractal_server/app/routes/api/v2/workflow_template.py
Due: grep-for-devtools

Workflow templates (#3191)
  CHANGELOG.md
  example/.fractal_server.env
  fractal_server/__init__.py
  fractal_server/app/models/v2/__init__.py
  fractal_server/app/models/v2/workflow.py
  fractal_server/app/models/v2/workflow_template.py
  fractal_server/app/routes/api/v2/__init__.py
  fractal_server/app/routes/api/v2/_aux_functions.py
  fractal_server/app/routes/api/v2/_aux_functions_templates.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/api/v2/workflow.py
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/routes/api/v2/workflow_template.py
  fractal_server/app/schemas/v2/__init__.py
  fractal_server/app/schemas/v2/workflow.py
  fractal_server/app/schemas/v2/workflow_template.py
  fractal_server/migrations/versions/7226c20dc233_add_workflowtemplate_table.py
  pyproject.toml
  tests/fixtures_factories.py
  tests/v2/test_02_models/test_model_template.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_03_api/test_api_workflow_import_export.py
  tests/v2/test_03_api/test_api_workflow_template.py
  uv.lock
Due: grep-for-devtools, grep-for-fractal-types-in-models

Remove FIXME
  tests/v2/test_03_api/test_api_workflow_template.py
Due: none

bump version 2.20.0a1 -> 2.20.0a2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Introduce `use_pixi_lockfile` API parameter
  fractal_server/app/routes/api/v2/task_collection_pixi.py
  fractal_server/tasks/v2/local/collect_pixi.py
  fractal_server/tasks/v2/ssh/collect_pixi.py
Due: grep-for-devtools

Create new mock pixi package
  tests/data/pixi_tasks/create_tar_gz.sh
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/LICENSE
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pixi.lock
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pyproject.toml
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/src/mock_pixi_tasks/__FRACTAL_MANIFEST__.json
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/src/mock_pixi_tasks/__init__.py
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/src/mock_pixi_tasks/create_images.py
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/src/mock_pixi_tasks/dev/task_list.py
Due: none

Remove old pixi mock, adopt new one
  tests/data/mock_pixi_tasks-0.2.1.tar.gz
  tests/fixtures_pixi.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle_pixi_ssh.py
Due: none

Produce both with-lock and without-lock tar.gz pixi artifacts
  tests/data/pixi_tasks/create_tar_gz.sh
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pixi.lock
  tests/data/pixi_tasks/mock_pixi_tasks-1.2.3/pyproject.toml
  tests/data/pixi_tasks/no_lock/mock_pixi_tasks-1.2.3.tar.gz
  tests/data/pixi_tasks/with_lock/mock_pixi_tasks-1.2.3.tar.gz
  tests/fixtures_pixi.py
Due: none

Fix tests
  tests/v2/test_06_tasks_lifecycle/test_collect_pixi_local.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_invalid_ssh.py
  tests/v2/test_06_tasks_lifecycle/unit/test_unit_missing_db_objects.py
Due: none

override_versions is a dict
  fractal_server/app/routes/api/v2/workflow_import.py
  fractal_server/app/schemas/v2/workflow.py
Due: grep-for-devtools

Use form-data for API parameter
  fractal_server/app/routes/api/v2/task_collection_pixi.py
Due: grep-for-devtools

Add log
  fractal_server/tasks/v2/local/collect_pixi.py
Due: grep-for-devtools
