Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

grep-for-devtools:
  name: Check for devtools in fractal_server files
  entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

grep-for-fractal-types-in-models:
  name: Check for custom types in SQLModel models
  entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
  language: system

fix tests
  tests/fixtures_server.py
  tests/no_version/test_unit_config.py
Due: none

Add new endpoint for oauth settings
  fractal_server/app/routes/api/__init__.py
  fractal_server/config/_main.py
  tests/no_version/test_alive.py
Due: grep-for-devtools

expand test
  tests/no_version/test_unit_config.py
Due: none

Use https://accounts.google.com/.well-known/openid-configuration in example
  tests/no_version/test_unit_config.py
Due: none

bump version 2.17.0a1 -> 2.17.0a2
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Add `GET /auth/users/?profile_id=123`
  fractal_server/app/routes/auth/users.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

drop InitDataSettings
  fractal_server/__main__.py
  fractal_server/config/__init__.py
  fractal_server/config/_init_data.py
  tests/no_version/test_unit_lifespan.py
Due: grep-for-devtools

bump version 2.17.0a2 -> 2.17.0a3
  fractal_server/__init__.py
  pyproject.toml
Due: grep-for-devtools

Update dependencies in `poetry.lock`
  poetry.lock
Due: none

parse new args and simplify check
  fractal_server/__main__.py
Due: grep-for-devtools

add default values
  fractal_server/__main__.py
Due: grep-for-devtools

add new args to benchmarks and oauth test
  .github/workflows/benchmarks.yaml
  .github/workflows/oauth.yaml
Due: none

use proper email
  tests/no_version/test_unit_lifespan.py
Due: none

add admin-email/pwd to all `fractalctl init-db-data`
  example/run_fractal_server.sh
  scripts/oauth/start_test_server_locally.sh
Due: none

changelog [skip ci]
  CHANGELOG.md
Due: none

`fractal.xy` -> `example.org`
  .github/workflows/benchmarks.yaml
  benchmarks/populate_db/.fractal_server.env
  docs/internals/users.md
  scripts/client/client.py
  scripts/db_performance/.fractal_server.env
  scripts/merge-dbs/.fractal_server.env
  scripts/oauth/oauth.sh
  scripts/test_upgrade_db_data_v27/run_update_db_data.sh
  tests/data/testing_databases/example/step2.sh
  tests/fixtures_server.py
  tests/no_version/test_api_users.py
  tests/no_version/test_delete_user.py
  tests/v2/test_02_models/test_tasks_v2.py
Due: none

prevent resource deletion
  fractal_server/app/routes/admin/v2/resource.py
Due: grep-for-devtools

test
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

drop old var from env files
  benchmarks/populate_db/.fractal_server.env
  scripts/db_performance/.fractal_server.env
  scripts/merge-dbs/.fractal_server.env
Due: none

remove useless files
  scripts/test_upgrade_db_data_v27/run_update_db_data.sh
  tests/data/testing_databases/example/step2.sh
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

coverage
  tests/no_version/test_init_db_data.py
Due: none

fix and more coverage
  tests/no_version/test_init_db_data.py
Due: none

Add python3.13 to resource fixture
  tests/fixtures_computational_settings.py
Due: none

Drop self-registration, drop UserSettings
  fractal_server/app/models/security.py
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/routes/auth/current_user.py
  fractal_server/app/routes/auth/group.py
  fractal_server/app/routes/auth/users.py
  fractal_server/app/routes/aux/validate_user_settings.py
  fractal_server/app/schemas/__init__.py
  fractal_server/app/schemas/user.py
  fractal_server/app/schemas/user_settings.py
  fractal_server/app/security/__init__.py
  fractal_server/app/security/signup_email.py
  fractal_server/app/user_settings.py
  fractal_server/config/_email.py
  fractal_server/config/_main.py
  tests/fixtures_server.py
  tests/no_version/test_api_current_user.py
  tests/no_version/test_api_user_groups.py
  tests/no_version/test_api_users.py
  tests/no_version/test_delete_user.py
  tests/no_version/test_fixture_MockCurrentUser.py
  tests/no_version/test_unit_schemas_no_version.py
  tests/no_version/test_unit_user_settings.py
  tests/v2/test_01_schemas/test_unit_schemas_v2.py
  tests/v2/test_03_api/admin/test_admin_taskgroup.py
  tests/v2/test_03_api/test_api_dataset.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_collection_ssh.py
  tests/v2/test_06_tasks_lifecycle/test_api_task_lifecycle.py
  tests/v2/test_07_full_workflow/common_functions.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_ssh.py
  tests/v2/test_07_full_workflow/test_full_workflow_slurm_sudo.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

migration
  fractal_server/migrations/versions/f68960037f10_user_settings_related.py
Due: grep-for-devtools

fix schemas
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

tests
  tests/fixtures_server.py
  tests/no_version/test_api_current_user.py
Due: none

Add provisional server_default
  fractal_server/app/models/security.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Comment
  fractal_server/app/models/user_settings.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Path conditions:
  grep-for-devtools: any of: fractal_server/
  grep-for-fractal-types-in-models: any of: fractal_server/app/models/
