Repository fractal-analytics-platform/fractal-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: grep-for-devtools, grep-for-fractal-types-in-models

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.1'
    hooks:
    - id: bandit
      args: ["--exclude", "tests/*", "benchmarks/*", "example/*"]
-   repo: local
    hooks:
    - id: grep-for-devtools
      name: Check for devtools in fractal_server files
      entry: bash -c 'for file in "$@"; do if grep -n "devtools" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/
    - id: grep-for-fractal-types-in-models
      name: Check for custom types in SQLModel models
      entry: bash -c 'for file in "$@"; do if grep -n "fractal_server.types" "$file"; then echo "$file" && exit 1; fi; done' --
      language: system
      files: fractal_server/app/models/
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      files: fractal_server/


-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespellignore"]
        files: ^(fractal_server/|docs/)

Use proper context-managed db session
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

Fix some more tests
  tests/v2/test_04_runner/execute_tasks.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_fractal_examples.py
Due: none

Fix some more tests
  tests/v2/test_04_runner/test_no_images_parallelization.py
Due: none

expand test
  tests/v2/test_03_api/test_api_job.py
Due: none

Test PUT-resource
  tests/v2/test_03_api/admin/test_admin_resource.py
Due: none

remove spurious tuple
  fractal_server/app/routes/api/v2/submit.py
Due: grep-for-devtools

Add test, rephrase error messages
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/runner/v2/runner.py
  tests/v2/test_04_runner/test_runner_failures.py
Due: grep-for-devtools

CHANGELOG [skip ci]
  CHANGELOG.md
Due: none

Drop `db.refresh`
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

error message
  fractal_server/runner/v2/runner.py
Due: grep-for-devtools

make `less_privileged` a list
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

unit test
  tests/no_version/test_unit_auth.py
Due: none

improve query
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

improve if condition
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

fix typo
  tests/no_version/test_unit_auth.py
Due: none

make test more unit
  tests/no_version/test_unit_auth.py
Due: none

all not -> not any
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

simplify test api
  tests/no_version/test_api_users.py
Due: none

error message
  fractal_server/app/routes/auth/_aux_auth.py
  tests/no_version/test_api_users.py
Due: grep-for-devtools

update validate_db_data_with_read_schemas.py
  scripts/validate_db_data_with_read_schemas.py
Due: none

remove linkuserproject validation
  scripts/validate_db_data_with_read_schemas.py
Due: none

improve error message ref #3036
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

emit warning
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Add `prevent_new_submission` for resources (#3042)
  CHANGELOG.md
  fractal_server/app/models/v2/resource.py
  fractal_server/app/routes/api/v2/submit.py
  fractal_server/app/schemas/v2/resource.py
  fractal_server/migrations/versions/88270f589c9b_add_prevent_new_submissions.py
  fractal_server/runner/v2/_local.py
  fractal_server/runner/v2/_slurm_ssh.py
  fractal_server/runner/v2/_slurm_sudo.py
  fractal_server/runner/v2/runner.py
  tests/v2/test_03_api/admin/test_admin_resource.py
  tests/v2/test_03_api/test_api_job.py
  tests/v2/test_04_runner/execute_tasks.py
  tests/v2/test_04_runner/test_dummy_examples.py
  tests/v2/test_04_runner/test_fractal_examples.py
  tests/v2/test_04_runner/test_runner_failures.py
Due: grep-for-devtools, grep-for-fractal-types-in-models

Split log into two logs
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

TO REVERT - test logs
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

Revert "TO REVERT - test logs"
  fractal_server/app/routes/api/v2/dataset.py
  fractal_server/runner/v2/submit_workflow.py
Due: grep-for-devtools

add another test
  tests/no_version/test_unit_auth.py
Due: none

change test assertion
  tests/no_version/test_unit_auth.py
Due: none

startswith after as_posix
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools

Add `normpath` to `AbsolutePathStr` type
  fractal_server/types/__init__.py
  fractal_server/types/validators/__init__.py
  fractal_server/types/validators/_common_validators.py
Due: grep-for-devtools

Add `normpath(project_dir)` to 2.18.0 data-migration script
  fractal_server/data_migrations/2_18_0.py
Due: grep-for-devtools

Add `normpath` to `AbsolutePathStr` type (#3050)
  CHANGELOG.md
  fractal_server/data_migrations/2_18_0.py
  fractal_server/types/__init__.py
  fractal_server/types/validators/__init__.py
  fractal_server/types/validators/_common_validators.py
Due: grep-for-devtools

Require at least one `project_dirs` element in PATCH
  fractal_server/app/schemas/user.py
Due: grep-for-devtools

Use `normpath` in check for project dirs
  fractal_server/app/routes/auth/_aux_auth.py
Due: grep-for-devtools
